<!-- begin 	popup  -->
<div class="popup" id="msgSuccess">
	<div class="popup__header popup__header_upper text-center">
		<img src="res/images/check.svg" alt="" class="popup__check">
		<a href="javascript:void(0)" class="close popup__close"></a>
	</div>
	<div class="popup__content ">
		<div class="text-left popup__block">
			<div class="popup__header popup__header_top">
				сообщение отправлено
			</div>
			<div class="popup__subcaption">
				Благодарим Вас за обращение. 
				Мы обязательно ответим Вам 
				в течении 48 часов.
			</div>
		</div>
		<!-- begin 	popup__block -->
		<div class="popup__block">
			<div class="text-center">
				<button class="button button_tr-grey button_md popup__close2">на главную</button>
			</div>
		</div>
		<!-- end 	popup__block -->
	</div>
</div>
<!-- end 	popup -->