<!-- begin 	popup  -->
<div class="popup " id="newPass">
	<div class="popup__header popup__header_upper">
		ВОССТАНОВЛЕНИЕ ПАРОЛЯ
		<a href="javascript:void(0)" class="close popup__close"></a>
	</div>
	<div class="popup__content">
		<form action="#" id="newPassForm">
			<!-- begin 	popup__block -->
			<div class="popup__block">
			<!-- begin 	cool-input__container -->
			<div class="cool-input__container">
				<div class="cool-input cool-input--nariko">
					<input class="input cool-input__field cool-input__field--nariko input-pass" type="password" id="input-pass-new" name="input-pass-new" value="" />
					<label class="cool-input__label cool-input__label--nariko" for="input-pass-new">
						<span class="cool-input__label-content cool-input__label-content--nariko">Введите новый пароль</span>
					</label>
				</div>
				 <div id="error-input-new-pass" class="input_msg cool-input__msg" style="display: none;">Ошибка ввода информации</div>
			</div>
			<!-- end cool-input__container -->
			<!-- begin 	cool-input__container -->
			<div class="cool-input__container">
				<div class="cool-input cool-input--nariko">
					<input class="input cool-input__field cool-input__field--nariko input-pass" type="password" id="input-pass-repeat" name="password-repeat" value="" />
					<label class="cool-input__label cool-input__label--nariko" for="input-pass-repeat">
						<span class="cool-input__label-content cool-input__label-content--nariko">Повторите новый пароль</span>
					</label>
				</div>
				 <div id="error-input-pass-repeat" class="input_msg cool-input__msg" style="display: none;">Ошибка ввода информации</div>
			</div>
			<!-- end cool-input__container -->
			</div>
			<!-- end popup__block -->
			<div class="text-center">
				<button type="button" class="button_red button_md button--submit" data-name="newPass">сохранить</button>
			</div>
		</form>
	</div>
</div>
<!-- end 	popup -->