<!-- begin 	popup  -->
<div class="popup" id="regPopup">
	<div class="popup__header popup__header_upper">
		СОЗДАНИЕ АККАУНТА
		<a href="javascript:void(0)" class="close popup__close"></a>
	</div>
	<div class="popup__content">
		<form action="#" id="register">
		<!-- begin 	popup__block -->
		<div class="popup__block popup__block_inputs">
		<!-- begin 	cool-input__container -->
		<div class="cool-input__container">
			<div class="cool-input cool-input--nariko">
				<input class="input cool-input__field cool-input__field--nariko input-email" type="email" id="input-email" name="email" value="" />
				<label class="cool-input__label cool-input__label--nariko" for="input-email">
					<span class="cool-input__label-content cool-input__label-content--nariko">Почта</span>
				</label>
			</div>
			 <div id="error-input-email" class="input_msg cool-input__msg" style="display: none;">Ошибка ввода информации</div>
		</div>
		<!-- end cool-input__container -->
		<!-- begin 	cool-input__container -->
		<div class="cool-input__container">
			<div class="cool-input cool-input--nariko">
				<input class="input cool-input__field cool-input__field--nariko input-name" type="text" id="input-name" name="username" value="" maxlength="15" />
				<label class="cool-input__label cool-input__label--nariko" for="input-name">
					<span class="cool-input__label-content cool-input__label-content--nariko">Никнейм</span>
				</label>
			</div>
			 <div id="error-input-name" class="input_msg cool-input__msg login__input" style="display: none;">Ошибка ввода информации</div>
		</div>
		<!-- end cool-input__container -->
		<!-- begin 	cool-input__container -->
		<div class="cool-input__container">
			<div class="cool-input cool-input--nariko">
				<input class="input cool-input__field cool-input__field--nariko input-password" type="password" id="input-password" name="password" value="" />
				<label class="cool-input__label cool-input__label--nariko" for="input-password">
					<span class="cool-input__label-content cool-input__label-content--nariko">Пароль</span>
				</label>
			</div>
			 <div id="error-input-password" class="input_msg cool-input__msg" style="display: none;">Ошибка ввода информации</div>
		</div>
		<!-- end cool-input__container -->
		</div>
		<!-- end popup__block -->
		<!-- begin 	popup__block -->
		<div class="popup__block">
			<div class="checkbox input_line">
				<input type="checkbox" name="signup" id="signup" class="checkbox__input">
				<label for="signup" class="checkbox__label">Подписаться на рассылку LifeRace</label>
			</div>
			<div class="checkbox input_line">
				<input type="checkbox" name="accept" id="accept" class="checkbox__input input-checkbox">
				<label for="accept" class="checkbox__label">Я принимаю <a href="legal.html" target="_blank" class="checkbox__link">пользовательское соглашение</a></label>
			</div>
		</div>
		<!-- end 	popup__block -->
		<!-- begin 	popup__block -->
		<div class="	popup__block">
			<div class="text-center">
				<button type="button" class="button_red button_md button--submit" data-name="createAccount">СОЗДАТЬ АККАУНТ</button>
			</div>
		</div>
		<!-- end 	popup__block -->
		</form>
		<!-- begin 	popup__social -->
		<div class="popup__social">
			<div class="popup__social-caption">
				Войдите через социальные сети
			</div>
			<div class="popup__social-buttons">
				<ul class="text-center">
					<li class="social2__item">
						<a target="_blank"  href="http://vk.com/public119842616" class="social2__link">
							<svg xmlns="http://www.w3.org/2000/svg" class="social2__icon" viewBox="0 0 53.82 53.82"><defs></defs><circle class="cls-1" cx="26.91" cy="26.91" r="26.41"/><path class="cls-2" d="M26.68 35.2h1.57a1.33 1.33 0 0 0 .72-.31 1.15 1.15 0 0 0 .22-.69s0-2.11.95-2.42 2.21 2 3.52 2.94a2.49 2.49 0 0 0 1.75.53h3.52s1.84-.11 1-1.56a11.75 11.75 0 0 0-2.62-3c-2.21-2-1.91-1.72.75-5.26 1.62-2.16 2.26-3.47 2.06-4s-1.38-.4-1.38-.4h-4a.9.9 0 0 0-.51.09 1.1 1.1 0 0 0-.35.42 23 23 0 0 1-1.46 3.09c-1.76 3-2.47 3.15-2.76 3-.67-.43-.5-1.74-.5-2.67 0-2.9.44-4.11-.86-4.42a6.77 6.77 0 0 0-1.85-.18 8.54 8.54 0 0 0-3.29.34c-.45.22-.8.71-.59.74a1.78 1.78 0 0 1 1.17.59 3.82 3.82 0 0 1 .39 1.79s.23 3.42-.54 3.84c-.53.29-1.27-.3-2.84-3a25.27 25.27 0 0 1-1.41-2.93 1.18 1.18 0 0 0-.33-.44 1.64 1.64 0 0 0-.61-.25h-3.76a1.28 1.28 0 0 0-.77.26.82.82 0 0 0 0 .67s2.95 6.89 6.28 10.37a9 9 0 0 0 6.53 3z"/></svg>
						</a>
					</li>
					<li class="social2__item">
						<a target="_blank"  href="#" class="social2__link">
							<svg class="social2__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53.82 53.82"><circle cx="26.91" cy="26.91" r="26.41" class="cls-1"/><path class="cls-2" d="M27.25,27.31a6.47,6.47,0,1,0-6.41-6.48A6.46,6.46,0,0,0,27.25,27.31Zm0.05-9.63a3.16,3.16,0,1,1-3.17,3.2A3.15,3.15,0,0,1,27.3,17.68Z" transform="translate(-0.39 -0.25)"/><path  class="cls-2" d="M33,27.31a2.62,2.62,0,0,0-.94.48,8.68,8.68,0,0,1-9.62-.09A3.22,3.22,0,0,0,22,27.44,1.59,1.59,0,0,0,20.19,30c0.17,0.16.37,0.31,0.56,0.46A9.92,9.92,0,0,0,26,32.38l-0.33.35L21.36,37.1a1.61,1.61,0,0,0-.54,1.07,1.74,1.74,0,0,0,1,1.6,1.42,1.42,0,0,0,1.72-.31c1.14-1.12,2.28-2.26,3.39-3.41,0.28-.29.43-0.35,0.75,0,1.09,1.14,2.22,2.24,3.33,3.35a1.59,1.59,0,0,0,1,.53,1.74,1.74,0,0,0,1.63-1,1.46,1.46,0,0,0-.33-1.72c-1.47-1.48-2.94-3-4.41-4.43l-0.34-.37a13.16,13.16,0,0,0,3.18-.71,7.77,7.77,0,0,0,2.8-1.81,1.42,1.42,0,0,0,.1-1.88A1.47,1.47,0,0,0,33,27.31Z" transform="translate(-0.39 -0.25)"/></svg>
						</a>
					</li>
					<li class="social2__item">
						<a target="_blank"  href="https://www.facebook.com/LifeRace-495915677281364" class="social2__link">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53.82 53.82" class="social2__icon"><defs></defs><circle class="cls-1" cx="26.91" cy="26.91" r="26.41"/><path class="cls-2" d="M32.9 27.87v-4.8h-4.8v-1.91a1.17 1.17 0 0 1 .92-1.29h3.88v-4.8h-3.88c-3 0-5.4 2.9-5.4 6.13v1.87H20.1v4.8h3.53v10.88h4.48V27.87h4.8z"/></svg>
						</a>
					</li>
					<li class="social2__item">
						<a target="_blank"  href="#" class="social2__link">
							<svg class="social2__icon" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M15.995,0.75c8.409,0,15.25,6.841,15.25,15.25s-6.841,15.25-15.25,15.25     c-8.409,0-15.25-6.841-15.25-15.25S7.586,0.75,15.995,0.75 M15.995,0c-8.837,0-16,7.163-16,16c0,8.836,7.163,16,16,16     s16-7.164,16-16C31.995,7.163,24.831,0,15.995,0L15.995,0z" class="cls-2"/><path d="M18.204,7.182c0,0-4.049,0-5.435,0c-2.486,0-4.827,1.745-4.827,3.926c0,2.229,1.695,3.962,4.224,3.962    c0.176,0,0.347-0.04,0.515-0.052c-0.166,0.313-0.28,0.65-0.28,1.017c0,0.62,0.332,1.114,0.753,1.524    c-0.316,0-0.625,0.004-0.961,0.004c-3.08,0.001-5.45,1.961-5.45,3.995c0,2.003,2.599,3.258,5.679,3.258    c3.512,0,5.451-1.994,5.451-3.997c0-1.606-0.474-2.568-1.939-3.607c-0.502-0.354-1.46-1.217-1.46-1.725    c0-0.594,0.169-0.887,1.065-1.587c0.916-0.716,1.566-1.57,1.566-2.743c0-1.394-0.6-3.095-1.766-3.095h1.984L18.204,7.182z     M16.38,20.473c0.042,0.187,0.068,0.378,0.068,0.572c0,1.619-1.045,2.884-4.038,2.884c-2.129,0-3.666-1.347-3.666-2.966    c0-1.586,1.907-2.908,4.037-2.884c0.495,0.005,0.959,0.086,1.379,0.22C15.316,19.103,16.145,19.558,16.38,20.473z M12.97,14.434    c-1.429-0.041-2.788-1.598-3.034-3.474c-0.246-1.878,0.712-3.314,2.141-3.272c1.428,0.044,2.788,1.55,3.034,3.426    C15.357,12.991,14.399,14.476,12.97,14.434z" class="cls-2"/><polygon class="cls-2" points="22.612,14.23 22.612,11.585 20.849,11.585 20.849,14.23 18.204,14.23 18.204,15.993     20.849,15.993 20.849,18.638 22.612,18.638 22.612,15.993 25.257,15.993 25.257,14.23   "/></svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- end 	popup__social -->
	</div>
</div>
<!-- end 	popup -->