<!-- begin 	popup  -->
<div class="popup popup_wide" id="reqPopup" >
	<div class="popup__header popup__header_req">
		СИСТЕМНЫЕ ТРЕБОВАНИЯ
		<a href="javascript:void(0)" class="close popup__close"></a>
	</div>
	<div class="popup__content">
		<table class="req-table">
			<thead>
			<tr>
				<td class="req-table__cell req-table__header">Параметры</td>
				<td class="req-table__cell req-table__header">Минимальные требования</td>
				<td class="req-table__cell req-table__header">Рекомендуемые требования</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="req-table__cell">Операционная система:</td>
				<td class="req-table__cell">Windows 7 или выше</td>
				<td class="req-table__cell">64-битная система Windows 10</td>
			</tr>
			<tr>
				<td class="req-table__cell">Процессор (CPU):</td>
				<td class="req-table__cell">Intel Core i5-4210U <br>или аналогичный</td>
				<td class="req-table__cell">Intel Core i7-5500U <br>или аналогичный</td>
			</tr>
			<tr>
				<td class="req-table__cell">Оперативная память (RAM):</td>
				<td class="req-table__cell">8 Гб</td>
				<td class="req-table__cell">16 Гб</td>
			</tr>
			<tr>
				<td class="req-table__cell">Видеоадаптер:</td>
				<td class="req-table__cell">NVIDIA GeForce 640 2 Гб или AMD Radeon HD 7850 2 Гб</td>
				<td class="req-table__cell">NVIDIA GeForce GTX 970 4 Гб или AMD Radeon R9 290 4 Гб</td>
			</tr>
			<tr>
				<td class="req-table__cell">Аудиокарта:</td>
				<td class="req-table__cell">Совместимая с DirectX</td>
				<td class="req-table__cell">Совместимая с DirectX</td>
			</tr>
			<tr>
				<td class="req-table__cell">Свободное место на жёстком диске:</td>
				<td class="req-table__cell">не менее 20 Гб</td>
				<td class="req-table__cell">не менее 20 Гб</td>
			</tr>
			<tr>
				<td class="req-table__cell">Скорость интернет-соединения:</td>
				<td class="req-table__cell">512 кб/с или быстрее</td>
				<td class="req-table__cell">512 кб/с или быстрее</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- end 	popup -->