<!-- begin 	popup  -->
<div class="popup" id="resetPass">
	<div class="popup__header popup__header_upper">
		<a href="javascript:void(0)" class="close popup__close"></a>
	</div>
	<div class="popup__content">
		<form action="#" id="resetPassForm">
			<div class="popup__header popup__header_upper text-center">
				<img src="res/images/check.svg" alt="" class="popup__check">
			</div>
			<div class="popup__content">
				<div class="text-left">
					<div class="popup__header popup__header_top">
						изменение ПАРОЛЯ
					</div>
					<div></div>
				</div>
			</div>
			<div class="anim-wrap">
				<div class="popup__content">
					<div class="popup__subcaption">
						Вы хотите изменить пароль?
					</div>
				</div>
				<div class="popup__block win-msg-buttons">
					<div class="pass-reset__line">
						<button type="button" class="button_tr-silver popup__button button_sm popup__close2">нет</button>
						<button type="submit" class="button_red popup__button button_sm " data-name="resetPass">да</button>
					</div>
				</div>
				<div class="msg-success-frame">
					<p>
						Вам отправлено письмо с ссылкой на изменение пароля.
					</p>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- end 	popup -->