.dialog,
.dialog__overlay {
	width: 100%;
	height: 100%;
	/*height: calc(100vh - 26px);*/
	top: 0;
	left: 0;
}

.dialog {
	/*position: fixed;*/
	position: absolute;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	pointer-events: none;
	max-height: 100vh;
	overflow: hidden;
}

.dialog.dialog--open{
	max-height: 10000vh;
	overflow: visible;
}

.dialog__overlay {
	/*position: absolute;*/
	position: fixed;
	z-index: 1;
	background: rgba(55, 58, 71, 0.9);
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
}

.dialog--open .dialog__overlay {
	opacity: 1;
	pointer-events: auto;
}

.dialog__content {
/*	width: 50%;*/
/*	max-width: 560px;*/
	min-width: 290px;
/*	background: #fff;*/
/*	padding: 4em;*/
	text-align: center;
	position: relative;
	z-index: 5;
	opacity: 0;
}

.dialog--open .dialog__content {
	pointer-events: auto;
}

/* Content */
.dialog h2 {
	margin: 0;
	font-weight: 400;
	font-size: 2em;
	padding: 0 0 2em;
	margin: 0;
}