
.popup{
	z-index: 5;
	text-align: left;
	width: 620px;
/*	max-width: 87.5%;
	position: absolute; 
  left: 50%;
  top: 50%;
transform: translate(-50%, -50%) translateZ(0);
  margin:auto;*/
  border: 1px solid $grey-text;
  background: $main-bg;
  padding: 52px 59px 60px;
}

.popup__header{
	@mixin font-e-bold-i;
	font-size: 28px;
	position: relative;
	margin-bottom: 43px;
	color: $grey-header;
}
.popup__header_upper{
	margin-bottom: 0;
}
.popup__close{
	right: -45px;
	top: -34px;
}

.popup__block{
margin-bottom: 58px;
}

.popup__block_inputs{
	margin-bottom: 25px;
}
.popup__caption{
	margin-bottom: 22px;
	max-width: 355px;
	font-size: 18px;
	line-height: 1.3;
}

.popup__cell:first-child{
	width: 61%;
	padding-right: 10px;
}
.popup__button{
	min-width: 170px;
	margin-top: -9px;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 15px;
	padding: 14px 40px 13px;
}

.popup__social{
	border-top: 1px solid #4d4d4d;
	padding-top: 23px;
}

.popup__social-caption{
	color: $grey-checkbox;
	font-size: 14px;
	margin-bottom: 25px;
}

.popup__social-buttons{
	clear:fix;
}

.popup__social_fb{
	float: left;
}

.popup__social_vk{
	float: right;
}

.popup__social_fb,
.popup__social_vk{
	width: 235px;
}

.popup__check{
	width: 158px;
	height: 158px;
	margin: 61px auto 46px;
}

.popup__subcaption{
	font-size: 18px;
	margin-bottom: 32px;
}

.popup__header + .popup__subcaption{
	margin-top: 15px;
	display: inline-block;
    max-width: 453px;
    vertical-align: top;
}

.popup__header + .popup__subcaption_narrow{
	max-width: 369px;
	margin-bottom: 10px;
}
@media (max-height: $trig-lg-height), (max-width: $trig-lg-width){
	/*.popup_large{
		transform: none;
		left: 0;
		right: 0;
		top: 40px;
		margin: auto;
	}*/
}
@media (max-width: $trig-md-width){
	/*.popup{
		transform: none;
		left: 0;
		right: 0;
		top: 40px;
		margin: auto;
	}*/
}
@media (max-width: $trig-popup){
	.popup{
	width: 87.5%;
/*	top: 27px;*/
	padding: 18px 20px 36px;
}

.popup__header{
	font-size: 20px;
	margin-bottom: 20px;
}
.popup__header_upper{
	margin-bottom: 0;
}
.popup__close{
	right: -5px;
	top: -5px;
	transform: scale(.65);
}

.popup__block{
margin-bottom: 35px;
}
.popup__block_inputs{
	margin-bottom: 25px;
}
.popup__caption{
	margin-bottom: 26px;
	font-size: 14px;
	max-width: 200px;
	line-height: 1.6;
	div{
		display: inline-block;
		vertical-align: baseline;
	}
}


.popup__cell:first-child
{
	width: 100%;
	padding-right: 0;
}
.popup__cell_pd{
	padding-top: 28px;
}
.popup__button{
	width: 100%;
	margin-top: 0;
}
.popup__social{
	margin-top: 60px;
	padding-top: 15px;
	display: none;
}
.popup__social_fb,
.popup__social_vk{
	width: 100%;
	float: none;
	padding-left: 5px;
}

.popup__social_vk{
	margin-top: 15px;
}
.popup__check{
	width: 111px;
	height: 111px;
	    margin-top: 49px;
    margin-bottom: 35px;
}
.popup__subcaption{
	font-size: 14px;
	line-height: 1.7;
	margin-bottom: 0;
}

.popup__header + .popup__subcaption {
    max-width: 80%;
    margin-top: 9px;
}

}

.wrapper:not(.container--move) .popup{

		max-height: 90vh;
		overflow: hidden;

}

