html
{
    height: 100%;
    min-height: 100%;
    @mixin font-main;
    font-weight: normal;
   /*  font-size: 62.5%; */
}
body
{
    /* font-family: 'ProximaNovaSemiboldItalic', sans-serif; */
    font-size: 16px;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.4;

    color: #fff;
    background: $main-bg;
}
.page
{
    position: relative;
    overflow-x: hidden;
}
.wrapper
{
    position: relative;

    -webkit-transition: -webkit-transform .2s;
            transition: -webkit-transform .2s;
            transition:         transform .2s;
            transition:         transform .2s, -webkit-transform .2s;
    background: #000;
}
.wrapper.minimized
{
/*     -webkit-transform: scale(.95);
        -ms-transform: scale(.95);
            transform: scale(.95); */
}
a
{
    color: inherit;
}
b,
strong
{
    font-family: 'ProximaNovaBold', sans-serif;
    font-weight: normal;
}
ul{
    padding: 0 25px;
    margin: 5px 0 5px 0;
}
.text-center
{
    text-align: center;
}
.text-right
{
    text-align: right;
}
.text-left
{
    text-align: left;
}
.center{
    margin: 0 auto;
}
.paragraph
{
    margin: 0 0 23px;
}
.wrapper
{
    background: #000;
    background-image: none;
    min-height: 100vh;
}
.inner{
    margin-left: -96px;
    margin-right: -96px;
    padding-right: 96px;
    padding-left: 96px;
}
.container{
    max-width: 1360px;
    margin: 0 auto;
}

.title--black{
    color: #000!important;

}
.hidd{
    display: none!important;
}
.narrow{
    /* width: 80%; */
    margin: 0 auto;
    max-width: 1360px;
    padding:  0 0 55px;
}
.header-link{
    text-decoration: none;
    transition: all .2s ease-out;
}
.header-link_white{
    position: relative;
        &:after{
            content: '';
            position: absolute;
            bottom:  0;
            left: 0;
            width: 0;
            background: red;
            height: 2px;
            /* transform: scale(0); */
            transition: width .25s ease-out;
        }
}
.header-link_white:hover{
    color: #fff;
    transition: color .2s ease-out, transform .25s ease-out;
        &:after{
            /* transform: scale(1); */
            width: 100%;
            transition: width .25s ease-out;
        }
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
@media (max-height: $trig-lg-height), (max-width: $trig-lg-width)
{
    .inner{
        margin-left: -53px;
        margin-right: -53px;
        padding-right: 53px;
        padding-left: 53px;
    }
    .narrow{
        max-width: 1060px;
        padding: 0 0 30px;
    }

}
@media (max-width: 1400px){
    .container{
        width: 100%;
    }
}

@media (max-width: 1100px){
    .narrow{
        padding: 0 53px 75px;
    }
}
@media (max-width: 850px)
{
    .inner{
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .content__form
    {
        max-width: 4470px;
    }
    .narrow{
        padding: 0 33px 25px;
    }

}

@media (max-width: 767px){
    .no-sm{
        display: none;
    }
}
@media (max-width: 414px)
{
    body
    {
        font-size: 14px;
        font-size: .875rem;
    }
    .inner{
        margin-left: -19px;
        margin-right: -19px;
        padding-right: 19px;
        padding-left: 19px;
    }

    .no-xs
    {
        display: none;
    }
    .xs-caps
    {
        text-transform: capitalize;
    }

}


/*================= NEW BASE ==================*/
/* .text-page{
    min-height: calc(100vh - 500px);
} */

/* @media (max-width: 850px){
    .text-page{
        margin-top: 0;
        min-height: calc(100vh - 340px);
    }
} */

@media (max-width: 480px){
     .narrow{
        padding: 0 19px 10px;
     }
}
