@font-face
{
    font-family: 'ProximaNovaBlackItalic';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/ProximaNovaBlackItalic/ProximaNovaBlackItalic.eot');
    src: url('fonts/ProximaNovaBlackItalic/ProximaNovaBlackItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNovaBlackItalic/ProximaNovaBlackItalic.woff') format('woff'),
    url('fonts/ProximaNovaBlackItalic/ProximaNovaBlackItalic.ttf') format('truetype'),
    url('fonts/ProximaNovaBlackItalic/ProximaNovaBlackItalic.svg') format('svg');
}
@font-face
{
    font-family: 'ProximaNovaBold';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/ProximaNovaBold/ProximaNovaBold.eot');
    src: url('fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNovaBold/ProximaNovaBold.woff') format('woff'),
    url('fonts/ProximaNovaBold/ProximaNovaBold.ttf') format('truetype'),
    url('fonts/ProximaNovaBold/ProximaNovaBold.svg') format('svg');
}
@font-face
{
    font-family: 'ProximaNovaExtraboldItalic';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/ProximaNovaExtraboldItalic/ProximaNovaExtraboldItalic.eot');
    src: url('fonts/ProximaNovaExtraboldItalic/ProximaNovaExtraboldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNovaExtraboldItalic/ProximaNovaExtraboldItalic.woff') format('woff'),
    url('fonts/ProximaNovaExtraboldItalic/ProximaNovaExtraboldItalic.ttf') format('truetype'),
    url('fonts/ProximaNovaExtraboldItalic/ProximaNovaExtraboldItalic.svg') format('svg');
}
@font-face
{
    font-family: 'ProximaNovaSemiboldItalic';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/ProximaNovaSemiboldItalic/ProximaNovaSemiboldItalic.eot');
    src: url('fonts/ProximaNovaSemiboldItalic/ProximaNovaSemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNovaSemiboldItalic/ProximaNovaSemiboldItalic.woff') format('woff'),
    url('fonts/ProximaNovaSemiboldItalic/ProximaNovaSemiboldItalic.ttf') format('truetype'),
    url('fonts/ProximaNovaSemiboldItalic/ProximaNovaSemiboldItalic.svg') format('svg');
}
@font-face
{
    font-family: 'ProximaNovaThinItalic';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/ProximaNovaThinItalic/ProximaNovaThinItalic.eot');
    src: url('fonts/ProximaNovaThinItalic/ProximaNovaThinItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNovaThinItalic/ProximaNovaThinItalic.woff') format('woff'),
    url('fonts/ProximaNovaThinItalic/ProximaNovaThinItalic.ttf') format('truetype'),
    url('fonts/ProximaNovaThinItalic/ProximaNovaThinItalic.svg') format('svg');
}

@font-face
{
    font-family: 'BebasNeueBold';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/BebasNeueBold/BebasNeueBold.eot');
    src: url('fonts/BebasNeueBold/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/BebasNeueBold/BebasNeueBold.woff') format('woff'),
    url('fonts/BebasNeueBold/BebasNeueBold.ttf') format('truetype'),
    url('fonts/BebasNeueBold/BebasNeueBold.svg') format('svg');
}

@font-face
{
    font-family: 'ProximaNovaRegular';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/ProximaNovaRegular/ProximaNovaRegular.eot');
    src: url('fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNovaRegular/ProximaNovaRegular.woff') format('woff'),
    url('fonts/ProximaNovaRegular/ProximaNovaRegular.ttf') format('truetype'),
    url('fonts/ProximaNovaRegular/ProximaNovaRegular.svg') format('svg');
}
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'feathericons';
    src:url('../fonts/feathericons/feathericons.eot?-8is7zf');
    src:url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'),
        url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'),
        url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'),
        url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
}