* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@define-mixin inner {
    margin-left:$pdlr;
    margin-right: $pdlr;
    width: 100%;
}

@define-mixin inner2{
	max-width: 1357px;
    margin-left:auto;
    margin-right: auto;
}

@define-mixin font-main{
	font-family: 'ProximaNovaSemiboldItalic', sans-serif;
	font-weight: normal;
}

@define-mixin font-bold{
	  font-family: 'ProximaNovaBold', sans-serif;
	  font-weight: normal;
}

@define-mixin font-e-bold-i{
	  font-family: 'ProximaNovaExtraboldItalic', sans-serif;
	  font-weight: normal;
}

@define-mixin font-thin-i{
	font-family: 'ProximaNovaThinItalic', sans-serif;
	font-weight: normal;
}

@define-mixin font-black-i{
	font-family: 'ProximaNovaBlackItalic', sans-serif;
	font-weight: normal;
}
@define-mixin font-regular{
	font-family: 'ProximaNovaRegular';
	font-weight: normal;
}
@define-mixin a-center{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}


@define-mixin link-static{
	color: inherit;
	text-decoration: none;
	&:hover,
	&:active,
	&:focus{
	text-decoration: none;
	}
}


@define-mixin link-underline{
	color: inherit;
	text-decoration: underline;
	&:hover,
	&:active,
	&:focus{
	text-decoration: none;
	}
}

@define-mixin link-not-underline{
	color: inherit;
	text-decoration: none;
	&:hover,
	&:active,
	&:focus{
	text-decoration: underline;
	}
}


@define-mixin trans{
	transition: all 0.25s ease-in-out;
}
@define-mixin trans-custom $time{
	transition: all $time ease-in-out;
}

@define-mixin icon-el{
	content: '';
	position: absolute;
	display: block;
	width: 35px;
	height: 26px;
	top: 17px;
	left: 20px;
}