$main-bg: #282828;
$red: #bf0000;
$white: #fff;
$grey: #575757;
$grey-text: #666666;
$grey-header: #4d4d4d;
$grey-checkbox: #8c8c8c;
$grey-light: #e5e5e5;
$grey-border: #a6a6a6;
$fb: #475894;
$vk: #5b749f;
$lr: #898989;
$btn-silver: #808080;
$btn-grey: #a6a6a6;
$yellow: #F7C906;

$input-bg: #333333;
$input-bg-err: rgba(191,0,0,.07);
$border: rgba(255,255,255,.2);
$btn-blue: #54799E;
$grey-text-light: #878787;
$pdlr: 96px;
$placeholder: rgba(146, 146, 146, 0.41);

$pdlr-md: 53px;
$pdlr-sm: 40px;
$pdlr-xs: 19px;



$pdt-left-panel: 20px;
$pdr-left-panel: 30px;
$pdl-left-panel: 30px;
$pdb-left-panel: 20px;

$trig-lg-height: 1080px;
$trig-lg-width: 1919px; 

$trig-md-width: 1360px;

$trig-sm-width: 850px;

$trig-xs-width: 400px;

$trig-popup: 650px;
