/*=============== ARTICLE ================*/
.article{
	width: 75%;
	/* padding: 50px 0 0; */
}
.article__date{
	display: block;
	margin-top: 25px;
	font-size: 18px;
	@mixin font-regular;
	color: $lr;
}
.article__head{
	font-size: 60px;
	text-transform: uppercase;
	@mixin font-black-i;
	margin: 25px 0 5px;
}
.article__content{
		h2,
		h3{
			font-family: 'ProximaNovaSemiboldItalic';
			text-transform: uppercase;
			margin: 15px 0 0;
		}
		h2{
			font-size: 28px;
		}
		h3{
			font-size: 24px;	
		}
		.bold,
		h3.bold,
		h2.bold{
			font-family: 'ProximaNovaExtraboldItalic';
			text-transform: uppercase;
		}
		ul{
			margin: 10px 0 50px;
		}
		li{
			list-style: none;
			position: relative;
			margin-bottom: 5px;
			font-size: 24px;
			@mixin font-regular;
				&:before{
					content: '';
					width: 11px;
					height: 11px;
					top: 12px;
		    		left: -20px;
					display: block;
					position: absolute;
					background: url(../images/circle.png) no-repeat;
					background-size: 11px 11px;
				}
		}
		p{
			font-size: 24px;
			@mixin font-regular;
			margin: 10px 0 50px;
				img{
					display: block;
					width: 88%;
					margin: 0 auto;
				}
		}
}
@media (max-height: $trig-lg-height), (max-width: $trig-lg-width){
	.article{
		width: 100%;
	}
	.article__content p,
	.article__content li{font-size: 20px;}
	.article__content li:before{
		top: 7px;
	}	
}
@media (max-width: 1024px){
	.article__head {
		font-size: 48px;
	}
}
@media (max-width: 850px){
	.article{
		padding: 10px 0 0;
	}
	.article__head{
		line-height: 57px;
	}
	.article__content p img{width: 100%}
}

@media (max-width: 480px){
	.article__content li:before{
		top: 4px;
	}	
	.article__content ul{
		padding-left: 20px;
	}
	.article__content li,
	.article__content p{
		font-size: 14px;
	}
	.article__content p{
		margin: 10px 0 30px;
	}
	.article__head {
		font-size: 28px;
		line-height: 36px;
	}
	.article__content h3,
	.article__content h2
	{
		font-size: 18px;
	}
	.article__date{
		font-size: 14px;
	}

}