/*=========== info banners ===========*/
.jarallax_01,
.jarallax_02,
.jarallax_03
 {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 100;
}
.parallax{
	min-height: 400px;
	position: relative;
}
.b-banners{
	margin: 180px 0 165px;
}
.banner{
	position: relative;
	width: 100vw;
	margin-left: -50vw ;
	left: 50%;
	height: 58vw;
	background: url('../images/bg/info-sec01.jpg') no-repeat;
	background-size: cover;
		&.banner-02{
			background: url('../images/bg/info-sec02.jpg') no-repeat;
			background-size: cover;
		}
		&.banner-03{
			background: url('../images/bg/info-sec03.jpg') no-repeat;
			background-size: cover;
		}
}
.banner__content{
	position: absolute;
	top: 25%;
	width: 30%;
}
.banner__content--left{
	left: 5%;
}
.banner__content--right{
	right:  5%;
}
.banner__content-icon{
	width: 140px;
	height: 155px;

}
.banner-bg__img{
	width: 100%;
	height: 100%;
}
.banner__content-title{
	text-transform: uppercase;
	padding: 45px 0 40px;
	font-size: 56px;
	@mixin font-e-bold-i;
	margin: 0;
	line-height: 60px;
}
.banner__content-text{
	padding: 45px 0 15px;
	margin: 0;
	position: relative;
		p{
			margin: 0;
			font-size: 24px;
		}
		&:before{
			content: '';
			position: absolute;
			width: 40%;
			height: 2px;
			top:  0;
			background: #fff;
		}
}
.banner__content-icon{
	width: 155px;
	height: 170px;
}
@media (max-height: $trig-lg-height), (max-width: $trig-lg-width){
	.b-banners{
		margin: 135px 0 70px;
	}
	.banner__content-title{
		text-transform: uppercase;
		padding: 10px 0 15px;
		font-size: 42px;
		line-height: 52px;
	}
	.banner__content-text{
		padding: 25px 0 15px;
			p{
				font-size: 18px;
			}
	}
	.banner__content-icon{
		width: 100px;
		height: 125px;

	}
}
@media (max-width: 1360px){
	.banner__content{
		top: 21%;
	}
	.banner__content-title{
		font-size: 28px;
		line-height: 34px;
	}
	.banner__content-icon{
		width: 80px;
		height: 85px;

	}
	.banner{
		background: url('../images/bg/info-sec01-md.jpg') no-repeat;
		background-size: cover;

			&.banner-02{
				background: url('../images/bg/info-sec02-md.jpg') no-repeat;
				background-size: cover;
			}
			&.banner-03{
				background: url('../images/bg/info-sec03-md.jpg') no-repeat;
				background-size: cover;
			}
	}
}
@media (max-width: 1100px){
	.banner__content-title{
		font-size: 24px;
		line-height: 32px;
	}
	.banner__content-text{
			p{
				font-size: 16px;
			}
	}
	.banner{
		background: url('../images/bg/info-sec01-sm.jpg') no-repeat;
		background-size: cover;

			&.banner-02{
				background: url('../images/bg/info-sec02-sm.jpg') no-repeat;
				background-size: cover;
			}
			&.banner-03{
				background: url('../images/bg/info-sec03-sm.jpg') no-repeat;
				background-size: cover;
			}
	}
}
@media (max-width: 768px){
	.banner__content-icon{
		width: 70px;
		height: 70px;
	}
	.banner__content{;
		width: 37%;
	}
	.b-banners{
		margin: 45px 0 0;
	}
	.banner__content-title{
		padding: 5px 0 5px;
	}
	.banner__content-text{
		padding: 10px 0;
			p{
				font-size: 14px;
			}
	}
}
@media (max-width: 680px){
	.banner__content{
		top: 10%;
		width: 70%;
	}
	.banner__content--right{
		left: 10%;
		right: 0;
	}
	.banner__content--left{
		left:  10%;
	}
	.b-banners{
		margin: 35px 0 10px;
	}
	.banner{
		height: 130vw;
		background: url('../images/bg/info-sec01-xs.jpg') no-repeat;
		background-size: cover;

			&.banner-02{
				background: url('../images/bg/info-sec02-xs.jpg') no-repeat;
				background-size: 100%;
			}
			&.banner-03{
				background: url('../images/bg/info-sec03-xs.jpg') no-repeat;
				background-size: 100%;
			}
	}
}