/* bg image
==============================*/
.page-img__wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 28vw;
	z-index: 20;
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, .5);
		}
}
.img-bg-head{
	padding-top: 18vw;
}
.page-img{
	width: 100%;
	height: 100%;
}
@media (max-height: $trig-lg-height), (max-width: $trig-lg-width){
	.img-bg-head{
		padding-top: 22vw;
	}
}
@media (max-width: 1400px){
	.img-bg-head{
		padding-top: 18vw;
	}
}
@media (max-width: 500px){
	.img-bg-head{
		padding-top: 4vw;
	}
	.page-img__wrap{
		height: 30vw;
	}
}