/*=============== CARD-ITEM ================*/
.card-item{
	/* height: 580px; */
	position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: color .2s ease-in;
    transition: color .2s ease-in;
    color: #fff;
    max-height: 581px;
}

.card-item__descript{
    padding: 60px 30px 0;
    position: absolute;
    /* top: 0; */
    width: 100%;
        .text{
            position: relative;
            font-size: 16px;
        }
}

@media (min-width: 1025px){
    .card-item{
            &:before{
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 80px;
                bottom: 0;
                left: 0;
               /*  padding: 0 30px 100px; */
                overflow: hidden;
                box-sizing: border-box;
                /* background: red; */
                background: transparent;
                z-index: 999;
            }
            &:hover .card-item__head{
                    &:before{
                        opacity: 1;
                        transition: opacity .35s ease-out .25s;
                    }
                
            }            
            &:hover .text{
                /* height: 210px; */
                opacity: 1;
                transition: opacity .35s ease-out .25s;
            }
/*             &:hover .card-item__descript{
                top: 0;
                transform: translateY(0);
                transition:  top .4s ease-out;
                animation-name: opas;
                animation-duration: .15s;
            } */

            &:hover .card-item__img{
                transform: scale(1.2);
                transition: transform .35s ease-out;
                transform-origin: center;
            }
            &:hover .card-item__bg:after{
                background: rgba(0, 0, 0, .65);
                transition: background .25s ease-out;
            }
    }
    .card-item__bg{
        position: relative;
        z-index: -1;
            &:after{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0);
                z-index: 100;
                transition: background .25s ease-out;
            }
    }
    .card-item__descript{
        /* top: 100%; */
        bottom: 0;
        /* transform: translateY(-100%); */
        width: 100%;
        z-index: 2;
        /* transition: top .25s ease-out, transform .25s ease-out; */
            .text{
                position: relative;
                /* height: 0; */
                margin-bottom: -180px;
                opacity: 0;
                overflow: hidden;
                height: 210px;
                margin-top: 0;
                transition: opacity .15s ease-out, height .25s ease-out;
            }
        }
}
.card-item__link_more{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.card-item__img{
    width: 100%;
    height: 100%;
}
figure.effect-ruby .h2-list__caption{
	position: absolute;
	bottom: 0;
	margin: 0;
	min-height: 120px;
}
.card-item__head{
    position: relative;
    padding: 0 0 20px;
    margin-bottom: 20px;
        &:before{
            content: '';
            opacity: 0;
            height: 2px;
            width: 30%;
            background: red;
            position: absolute;
            bottom: 0;

        }
}
.h2-list__caption{
	display: inline-block;
    vertical-align: bottom;
}
.card-item__title{
    text-transform: uppercase;
    font-family: 'ProximaNovaExtraboldItalic';
}
.card-item__img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    transform: scale(1.1);
    transform-origin: center;
    transition: transform .35s ease-out;
}
.card-item__date{
    position: absolute;
    display: inline-block;
    bottom: 40px;
    left: 30px;
    color: #898989;
    @mixin font-regular;
        .star-icon{
            margin-bottom: -2px;
                &:last-child{
                    margin-right: 10px;
                }
        }
}


@media (max-height: $trig-lg-height), (max-width: $trig-lg-width){
    .card-item{
        max-height: 449px;
    }
}
@media (max-width: 1025px){
    .card-item__head{
        padding: 0;
        margin-bottom: 0;
       
    }
    .card-item__descript{
        bottom: 20%;
        /* transform: translateY(calc(-100% - 50px)); */
            .text{
                display: none;
            }
    }
    .card-item{
            height: auto;
    }

}
@media (max-width: 780px){
    .card-item__img{
        min-height: 100%;
    }
    .card-item__title{
        font-size: 16px;
    }
    .card-item__date{
        left: 20px;
        bottom: 25px;
    }
    .card-item__descript{
        padding: 60px 20px 0;
    }
}
@media (max-width: 768px){
    .card-item{
        height: 300px;
    }
}
@media (max-width: 767px){
    .card-item{
        height: 220px;
    }
    .card-item__img{
        min-height: 100%;
        min-width: 100%;
        height: auto;
    }
}
@media (max-width: 380px){
    .card-item__descript{
            .text{
                font-size: 14px;
            }
    }
}

@keyframes opas{
    0%{opacity: 0}
    60%{opacity: 0}
    100%{opacity: 1}
}