/*============= REGISTRATION CONFIRM ===============*/
.confirm-reg-wrapper{
	width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    text-align: center;
    overflow-y: auto;
}
.confirm-reg-wrapper:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.confirm-reg{
	width: 80%;
	display: inline-block;
	vertical-align: middle;
	margin: 30px auto;
	-ms-text-align-last: center;
	text-align: center;
	max-width: 850px;
	color: #636363;
	font-family: 'ProximaNovaRegular';
	font-style: normal;
	border-bottom: 1px solid #4d4d4d;
	font-size: 24px;
}
.confirm-reg_xs{
	width: 50%;
	max-width: 620px;
}
.confirm__buttons{
	width: 90%;
	margin: 50px auto 30px;
}
	.confirm__text{
		font-size: 18px;
		margin: 35px 0;
	}
	.confirm-reg-buttons{
		width: 70%;
		margin: 70px auto 0;
			.button{
				width: 210px;
			}
	}
	.confirm-reg-logo__img{
		max-width: 240px;
	}
	.confirm-reg-text,
	.confirm-reg-social,
	.confirm-reg__footer{
		border: 1px solid #4d4d4d;
		border-bottom: none;
		background: #1a1a1a;
	}
	.confirm-reg-text{
		padding: 70px 70px 50px;/*large size*/
	}
	.confirm-reg__footer{
		padding: 30px 0;
	}
	.confirm-reg-logo{padding: 0 0 25px;}
	.confirm-reg-social{
		padding: 30px 0 50px; /*large size*/
	}
	.confirm-reg__title{
		color: #fff;
		font-size: 1.4em;
		margin-bottom: 45px;
		letter-spacing: .9px;
	}
	.confirm-reg-social__title{
		padding: 0 20px;
	}
	.confirm-reg-social__icons{
		margin: 30px 0 0;
	}
	.uppercase__text{
		font-size: 1.3em;
		letter-spacing: 1.2px;
		margin-left: .3em;
	}
	.confirm-reg__link:hover{
		text-decoration: none;
	}
	.confirm-reg-social .social__fb,
	.confirm-reg-social .social__vk,
	.confirm-reg-social .social__odn
	{
		margin: 0;
	}
.social__icon{
	width: 60px;
	height: 60px;
	display: inline-block;
	background: url('../images/social_sprite.png') no-repeat;
	background-position: 0 0;
	-webkit-background-size: cover;
	background-size: cover;
	opacity: .7;
}
.social__icon:hover{
	opacity: 1;
	transition: opacity .3s ease-out;
}
	.social__icon.social__odn{
		background-position: -64px 0;
	}
	.social__icon.social__vk{
		background-position: -130px 0;
	}

@media (max-width: 960px){
	.confirm-reg{
		font-size: 18px;
	}
	.confirm-reg-text{
		padding: 40px 20px;
	}
	.confirm-reg-social{
		padding: 30px 0 20px;
	}
	.confirm-reg-social__icons{
		margin: 20px 0 0;
	}
	.confirm-reg__title{
		margin-bottom: 30px;
	}
	.confirm-reg-buttons{
			.button{
				width: 180px;
			}
	}
}
@media (max-width: 850px){
	.confirm-reg{width: 80%;}
}
@media (max-width: 640px){
	.confirm-reg{width: 95%;}
	.confirm-reg-logo__img{max-width: 160px;}
}
@media (max-width: 400px){
	.confirm-reg{width: 100%;}
	.uppercase__text{margin-left: 0;}
	.confirm-reg-wrapper{position: relative;}
}
