/*======== DOWN ARROW =========*/
.down_lg{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
    width: 60px;
    height: 60px;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;

}
.down_xs{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100vh - 118px);
    margin: auto;
    width: 60px;
    height: 60px;
}
.down_lg,
.down_xs{
    -webkit-animation-name: hvr-wobble-vertical;
    animation-name: hvr-wobble-vertical;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;    
}
.down-icon-1,
.down-icon-2{
    fill:none;
    stroke:#d6d6d6;
    stroke-width:2px;
}
.down-icon{
    stroke-miterlimit:10;
}
.down-icon{
    stroke-linecap:round;
    stroke-linejoin:round;
}
@media (max-width: 1100px){
    .down_lg{
        display: none;
    }
    .down_xs{
        display: block;
        /* right: -80%; */
        top: calc(100vh - 83px);
    }
}
@media (max-width: 480px){
    .down_xs{
        /* display: none; */
        height: 50px;
        width: 50px;
        top: calc(100vh - 65px);
    }
}
@media only screen and (max-device-width: 750px) and (orientation: landscape){
    .down_xs{
        top: calc(100vh - 68px);
        width: 45px;
        height: 45px;
    }

}
@media only screen and (min-device-width: 560px) and (max-device-width: 568px) and (orientation: landscape){
    .down_xs{
        display: block;
        right: -77%;
        top: calc(100vh - 54px);
        width: 45px;
        height: 45px;
    }
}
@media only screen and (max-device-height: 567px) and (max-device-width: 320px) and (orientation: portrait){
    .down_xs{
        display: none;
    }
}

@keyframes hvr-wobble-vertical{
    16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    }
    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}