/* errors
============================*/
.error-p{
	position: absolute;
	width: 100%;
	height: 100vh;
	background: #000;
	overflow: hidden;
}
.error-sign{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.error-head{
	position: relative;
	width: 400px;
	height: 400px;
	margin: 0 auto;
	border-radius: 50%;
	border: 15px solid #fff;
	box-shadow: 0px 0px 0px 5px #000;
	background: $red;
	z-index: 5;
		&.oct{
			border: none;
			box-shadow: none;
			border-radius: 0;
			background: url('../images/road_sign.svg') no-repeat;
			background-size: 400px 400px;
			background-position: top left;
				.error-title{
					background-color: transparent;
					color: #fff;
					font-size: 110px;
				}
		}
}
.sign-column{
	display: block;
	position: absolute;
	width: 25px;
	height: 100vh;
	top: 384px;
	left: 50%;
	transform: translateX(-50%);
	background: url('../images/sign_column.png') repeat-y;
	background-size: 100% auto;
	background-position: center;
}
.error-title{
	position: absolute;
	width: 80%;
	border-radius: 7px;
	background-color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: $red;
	font-size: 80px;
	text-align: center;
	line-height: 1;
	padding: 5px 0;
	@mixin font-bold;
	z-index: 50;

}
.error-text-wrap{
	position: relative;
	width: 400px;
	height: auto;
	margin: 40px auto;
	border-radius: 7px;
	background-color: #fff;
	padding: 10px;
	z-index: 10;
	border: 1px solid #000;
}
.error-text-inner{
	border: 3px solid #000;
	border-radius: 7px;
	padding: 15px;
	text-align: center;
	font-size: 26px;
	color: #000;
	text-transform: uppercase;
	@mixin font-regular;
	font-weight: bold;

}
.error-link{
	color: $red;
	display: block;
	text-decoration: none;
}

@media (max-width: 530px){
	.error-head{
		width: 200px;
		height: 200px;
		border: 5px solid #fff;
		box-shadow: 0 0 0 2px #000;
			&.oct{
				background-size: 200px 200px;
				background-position: top left;
					.error-title{
						background-color: transparent;
						color: #fff;
						font-size: 70px;
					}
			}
	}
	.error-text-wrap{
		width: 200px;
		padding: 3px;
		margin-top: 20px;
	}
	.sign-column{
		width: 20px;
		top: 50%;
		background-size: 20px auto;
	}
	.error-title{
		font-size: 34px;
	}
	.error-text-inner{
		font-size: 12px;
	}
}