/*========== EXTERNAL LINK BLOCK ============*/
.external-b{
    background: #F8F8F8;
    /* background: red; */
    padding: 42px 70px 40px 50px;
    /* display: table; */
    width: 100%;
    margin: 85px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.external__title,
.external__links{
    /* display: table-cell;
    vertical-align: middle; */
}
.external__title{
    text-align: left;
    font-size: 28px;
    text-transform: uppercase;
    @mixin font-e-bold-i;
}
.external__links{
    width: 65%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.external__button{
	width: 240px;
    /* margin-left: 23px; */
/*         &:first-child{
            margin-left: 0;
        } */
}

@media (max-height: $trig-lg-height), (max-width: $trig-lg-width)
{
    .external-b{
        padding: 42px 50px 40px 50px;
    }
    .external__links{
        width: 80%;
    }
    .external__title{
        font-size: 28px;
        width: 25%;
    }
    .external__button{
        width: 220px;
        /* margin-left: 30px; */
    }
}
@media (max-width: 1200px){
    .external-b{
        display: block;
    }
    .external__title,
    .external__links{
        width: 100%;

    }
    .external__links{
        text-align: left;
        /* display: block; */
        margin-top: 20px;
        justify-content: flex-start;
    }
    .external__button{
        margin-left: 20px;
            &:first-child{
                margin-left: 0;
            }
    }

}
@media (max-width: 768px){
	.external__button{
		width: 190px;
	}
	.external-b{
		padding: 30px 40px;
        margin-top: 30px;
	}
    .external__links{
        justify-content: space-between;
    }
    .external__button{
        margin-left: 0;
    }

}
@media (max-width: 750px){
    .external__links{
        display: block;
    }
	.external__button{
        display: block;
		width: 100%;
        margin: 0 0 20px;
	}
    .external__title{
        font-size: 18px;

    }
    .external-b{
        padding: 30px 20px;
        margin-bottom: 0;
    }

}


