/*=============== EXTRA BLOCK ================*/
.extra-b{
	clear: fix;
	position: relative;
	background: #000;
	padding: 60px 0;
		.video{
			margin: 100px 0 130px;
		}
}
@media (max-height: $trig-lg-height), (max-width: $trig-lg-width){
	.extra-b{
		padding: 60px 0 90px;
	}
}
@media (max-width: 780px){
	.extra-b{
		padding-bottom: 45px;
		padding: 20px 0 90px;
			.video{
				margin: 5px 0 40px;
			}
	}

}
@media (max-width: 650px){
	.extra-b{
		padding: 10px 0 60px;
			.video{
				margin: 0 0 40px;
			}
	}
}

