/*============ FADER =============*/
.fader {
	/* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgba(40,40,40, 0);
    z-index: 100;
    width: 0;
    transition: background .35s ease-out .1s;
    	&.open{
    		width: 100%;
    		background: rgba(40,40,40,.8);
    		transition: background .25s ease-out;
    	}
}
