/*=============== FOOTER ==================*/
.footer{
    font-family: 'ProximaNovaRegular';
    color: $lr;
    background: #000;
    border-top: 1px solid #4D4D4D;
    padding-top: 65px;
        .narrow{
            padding-bottom: 20px;
        }
}

.footer-inner{
    margin: 0 -10px;
}
.footer-bot{
    clear: both;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.footer-col{
    vertical-align: top;
}
.footer-col_l{
    width: 50%;
}
.footer-col_r{
    width: 20%;
}
.footer-col-list{
        &:first-child{
            width: 55%;
        }
        &:last-child{
            width: 45%;
        }
}

.footer-col_img{
    width: 30%;
}
.footer-col-list{
    float: left;
    padding: 0;
    margin: 0 0 20px;
}
.footer__list-item{
    list-style: none;
    margin-bottom: 15px;
}
.footer__link{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    transition: color .25s ease-out;
        &:hover{
            text-decoration: none;
            color: #fff;
            transition: color .25s ease-out;
        }

}
.logo-boom,
.logo-unreal{
    float: left;
    width: 50%;
    margin-top: -10px;
}
.logo-boom{
    display: block;
    height: 100px;
    background: url(../images/BoomLogo.svg) no-repeat center right;
    background-size: 120px 100px;
}
.logo-unreal{
    display: block;
    height: 100px;
    background: url(../images/unrealLogo.svg) no-repeat center right;
    background-size: 85px 100px;
}

@media (max-height: $trig-lg-height), (max-width: $trig-lg-width){
    .footer-bot{
        margin-top: 30px;
    }
    .footer-col_l{
        width: 46%;
    }
    .footer-col_r{
        width: 24%;
    }
    .footer__link{
        font-size: 14px;
    }
    .copyright{
        font-size: 12px;
    }
}
@media (max-width: 1024px){
    .footer-col-list{
            &:first-child{
                width: 100%;
            }
            &:last-child{
                width: 100%;
            }
    }
    .footer-col_l{
        width: 35%;
    }
    .footer-col_r{
        width: 35%;
    }
}
@media (max-width: 1000px){
    .footer-col-list{margin: 0;}
    .footer-col_r,
    .footer-col_l
    {
        width: 25%;
    }
    .footer-col_img{
        width: 50%;
    }
    .footer__link{
        font-size: 14px;
    }
}
@media (max-width: 850px){
    .inner_footer {
        margin-top: 60px;
        padding-top: 48px;
    }
}
@media (max-width: 750px){
    .footer,
    .footer-bot,
    .footer__l, 
    .footer__r{
        display: block;
        text-align: left;
    }
    .footer-col_l,
    .footer-col_r{
        width: 50%;
        text-align: left;
    }
    .footer-col_img{
        width: 100%;
        clear: both;
    }
    .footer,
    .footer__link {
        font-size: 12px;
    }
    .logo-boom,
    .logo-unreal{
        margin: 15px 0;
       background-position: left;
    }
    .logo-boom{
        background-size: 100px 100px;
    }
    .logo-unreal{
        background-size: 65px 100px;
    }
    .footer__l, .footer__r{
        padding-bottom: 14px;
    }
    .footer__r .social2{
        display: flex;
        justify-content: space-between;
    }
    .footer__r{
            .social2__item{
                margin: 0;
            }

    }

}
@media (max-width: $trig-xs-width){
    .logo-boom,
    .logo-unreal{
       width: 50%;
       margin: 0 0 15px;
    }
}
@media (max-width: 320px){
    .footer__r .social2{
        display: block;
            .social2__icon{
                margin-right: 5px;
            }

    }
}
