/*============= GALLERY ==============*/
.gallery,
.gallery__slider{
    position: relative;
    clear: fix; 
        .cycle-pager{
            bottom: 30px;
        }

}
.gallery img{
    max-width: 100%;
    width: 100%;
}
.section-link{
    margin: 55px auto 0;
}
.cycle-pager
{
    position: absolute;
    z-index: 100;
    bottom: -55px;
    left: 0;
    width: 100%;
    text-align: center;
}
.cycle-pager li,
.cycle-pager span
{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 24px 11px;
    cursor: pointer;
    color: transparent;
    border-radius: 50%;
    background: #fff;
    position: relative;
}
.cycle-pager button{
    display: none;
}
.cycle-pager li:before,
.cycle-pager-active:before
{
    content:"";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top: -6px;
    left: -6px;
    display: none;
}

li.slick-active,
.cycle-pager-active
{
    background-color: transparent!important;
}

li.slick-active:before,
.cycle-pager-active:before
{
    display: block;
}

/* .gallery__arrows{
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 29px);
    margin: auto;
    z-index: 100;
} */

.fancybox-nav{
    position: absolute;
    top: calc(50% - 29px);
    width: 53px;
    height: 59px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s; 
    z-index: 100;

}

.gallery:hover .fancybox-nav,
.fancybox-wrap:hover .fancybox-nav
{
    opacity: 1;
}

.gallery__arrow.disabled{
    display: none;
}

.gallery__arrow_left{
    position: absolute;
    left: 20px;
}

.gallery__arrow_right{
    position: absolute;
    right: 20px;
}
@media (max-width: 1100px){
    .cycle-pager span{
        width: 7px;
        height: 7px;
        margin-left: 14px;
        margin-right: 14px;
    }
    .cycle-pager span:before{
        width: 12px;
        height: 12px;
        top: -3px;
        left: -3px;
    }
    .gallery__arrows{
        display: none;
    }
    .b-banners .cycle-pager{
        display: none;
    }
    .gallery .cycle-pager, .gallery__slider .cycle-pager{
        bottom: 15px;
    }    
}
@media (max-width: 768px){
    .gallery,
    .gallery__slider{ 
            .section-link{
                margin: 45px auto 0;
            }
    }
}
@media (max-width: 580px){
    .section-link{
        width: 100%;
    }
    .gallery,
    .gallery__slider{ 
            .section-link{
                margin: 30px auto 0;
            }
    }

}
@media (max-width: 480px){
    .gallery__slideshow{
        margin: 0 -20px;
    }

}