/*=============== HEADER ==============*/
.header:after
{
    display: block;
    clear: both;

    content: '';
}
.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 18px;
    padding: 92px 96px;
    color: #fff;
    z-index: 50;
}

@media (max-height: $trig-lg-height), (max-width: $trig-lg-width)
{
    .header
    {
        font-size: 16px;
        padding: 61px 53px;

    }
}

@media (max-width: 850px)
{
    .header
    {
        font-size: 12px;
        font-size: .75rem;
        padding: 25px 33px;
    }
    .header_text{
        margin-bottom: 33px;
     }

}
@media (max-width: 480px)
{
    .header
    {
        /* margin-bottom: 53px; */
        padding: 19px;
    }
    .content__caption_activate
    {
        margin-top: -20px;
    }
    .header_text {
        margin-bottom: 28px;
    }
}
@media only screen and (max-device-width: 500px) and (orientation: landscape){
    .header{
        padding: 10px 33px;
    }
}