/* ICONS
=========================*/
.icon_md{
	display: inline-block;
	width: 70px;
	height: 70px;
}
.dwnld__icon,
.doc__icon,
.pic__icon,
.play__icon{
		.cls-1,
		.cls-2,
		.cls-3,
		.cls-4
		{
			fill:none;
			stroke:#adadad;
			stroke-miterlimit:10;
			transition: all .25s ease-out;
		}

}
.arrow-link__icon{
	position: relative;
/* 	padding-left: 30px;
		&:before{
			position: absolute;
			content: '';
			top: 7px;
			left: 0px;
			width: 22px;
			height: 15px;
			background: url('../images/arrow_link.svg') no-repeat;
			background-size: 22px 15px;		
		} */


}
.star-icon{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/star.svg) no-repeat;
    background-size: 18px 18px;
}
/* SOCIAL
=========================*/
.social
{
    padding-top: 9px;
    text-align: right;
}
.social__fb,
.social__vk,
.social__odn
{
    display: inline-block;
    margin-left: 19px;
    vertical-align: middle;
}
.social__fb,
.social__vk
{
    width: 62px;
    height: 62px;
}
.social__fb-img .cls-1
{
    -webkit-transition: fill .2s;
            transition: fill .2s;

    fill: #475894;
    stroke: #475894;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}
.social__fb-img .cls-2
{
    fill: #fff;
}
.social__fb-img:hover .cls-1
{
    fill: transparent;
}
.social__vk-img .cls-1
{
    -webkit-transition: fill .2s;
            transition: fill .2s;

    fill: #5b749f;
    stroke: #5b749f;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}
.social__vk-img .cls-2
{
    fill: #fff;
    fill-rule: evenodd;
}
.social__vk-img:hover .cls-1
{
    fill: transparent;
}
/*======== footer social ========*/
.social2{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social2__item{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 13px;       

}

.social2__link{
    display: inline-block;
    text-decoration: none;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;

}

.social2__link:hover,
.social2__link:focus,
.social2__link:active{
    opacity: .8;
}

.social2__icon{
    width: 53px;
    height: 53px;
}
.social2__icon .cls-1{
    fill:none;
    stroke:$lr;
    stroke-miterlimit:10;
}

.social2__icon .cls-2{fill:$lr;}

.social_xs{
        .social2__icon{
          width: 45px;
          height: 45px;
          margin: 0 10px 10px 0;
        }
}
.social_md{
	display: flex;
	justify-content: space-between;
        .social2__icon{
          width: 55px;
          height: 55px;
        }
}
@media (max-height: $trig-lg-height), (max-width: $trig-lg-width)
{
    .social
    {
        padding-top: 0;
    }
    .social_md{
	        .social2__icon{
	            margin-right: 5px;
                width: 40px;
                height: 40px;
	        }
	}
}
@media (max-width: 1200px){
    .social__fb, .social__vk{
        width: 51px;
        height: 51px;
    }

}
@media (max-width: 1024px){
    .social__fb, .social__vk{
        width: 41px;
        height: 41px;
    }
    .social2__item{
        margin-left: 5px;
    }
}
@media (max-width: 850px)
{
    .social__caption{
        display: none;
    }
    .social__fb,
    .social__vk
    {
        width: 42px;
        height: 42px;
    }
    .social__caption,
    .social__fb,
    .social__vk
    {
        margin-left: 10px;
    }
}
@media (max-width: 750px)
{
    .social2__item {
        margin-left: 2%;
        margin-right: 2%;
    }
    .social_md{
            .social2__icon{
              width: 35px;
              height: 35px;
            }
    }
    .social2__icon{
        width: 40px;
        height: 40px;
    }
/*     .social2__item{
        margin: 0;
    } */
}
@media (max-width: 400px)
{
    .social
    {
        padding-top: 0;
        padding-right: 11px;
    }
    .social__fb,
    .social__vk
    {
        width: 31px;
        height: 31px;
    }
    .social__fb,
    .social__vk
    {
        margin-left: 3px;
    }
}
/* @media (max-width: 380px){
    .social_xs .social2__icon {
        width: 40px;
        height: 40px;
        margin: 0 5px 5px 0;
    }
} */
