/*============= LEVEL-LIST =================*/
.level-list ol{
    counter-reset: section;
    list-style-type: none;
    padding: 0;
}
.level-list ol ol{
    margin: 16px 0 0 9px;
    }
.level-list ol ul{
    margin: 9px 0 0 16px;
    }
.level-list li{
    padding: 0px 0px 20px 14px;
    color:  $grey-text-light;
    }
.level-list ol>li{
    position: relative;
    padding-left: 35px;
    }
.level-list ol > li > ol > li > ol > li{
    padding-left: 50px;
}
.level-list>ol>li{
    padding-left: 20px;
    }
.level-list ol>li:before{
    counter-increment: section; 
    content: counters(section,".") " "; 
    position: absolute; 
    left: 0; 
    top: 0;
    }
.level-list p{
    margin: 20px 0;
    color:  $grey-text-light;
    }
.no-number:before,
.no-number :before
{
    display: none;
}

@media (max-width: 850px){
    .level-list ol ol{
        margin: 10px 0 0 5px;
        }
    .level-list ol ul{
        margin: 5px 0 0 10px;
        }
    .level-list li{
        padding: 0px 0px 10px 7px;
        }
    .level-list ol>li{
        padding-left: 40px;
        }
    .level-list>ol>li{
        padding-left: 20px;
        }
    .level-list p{
        margin: 10px 0;
        }
}

@media (max-width: 400px){
    .level-list ol>li{
        padding-left: 35px;
        }
    .level-list>ol>li{
        padding-left: 15px;
        }
    }