/*================= LOGO ==================*/
.logo{
	text-align: center;
	margin: 0;
}
.logo__link{
	display: block;
}
.logo__img{
	width: 260px;
	max-width: 100%;
}

.logo__caption-text{
	font-size: 0;
	color: transparent;
	text-indent: -99999px;
	overflow: hidden;
	line-height: 0;
	display: block;
}
h1.logo{
	font-size: 0;
}


@media (max-height: $trig-lg-height), (max-width: $trig-lg-width){
	.logo__img{
		width: 220px;
	}
}
@media (max-width: $trig-sm-width){
.logo__img{
		width: 163px;
	}
}
@media only screen and (min-device-width: 1199px) and (max-device-width: 1200px) and (orientation: landscape){
    .logo__img{
        width: 130px;
    }
}
@media only screen and (max-device-width: 760px) and (orientation: landscape){
    .logo__img{
        width: 110px;
    }
}


