/*======= MAIN PAGE BANNER ========*/
.main-banner{
    border: 1px solid $red;
    padding: 45px 170px;
    margin: 100px 0;
    clear: both;
        .button_block {
            width: 285px;
            vertical-align: middle;
            float: none;
            display: inline-block;
        }

}
.main-banner__text{
    display: inline-block;
    vertical-align: middle;
    font-size: 48px;
    color: $red;
    width: calc(100% - 290px);
    line-height: 1;
    @mixin font-thin-i;
    text-transform: uppercase;
        span{
            display: block;
            margin-top: 20px;
            @mixin font-black-i;
            color: $white;
           /*  font-size: 57px; */
           font-size: 1.35em;
        }

}
@media (max-height: $trig-lg-height), (max-width: $trig-lg-width){
    .main-banner{
        margin: 75px 0;
        padding: 20px 110px 20px;
            .button_block {
                width: 240px;
            }
    }
    .main-banner__text{
        font-size: 42px;
        width: calc(100% - 245px);
    }


}
@media (max-width: 1100px){
    .main-banner{
        padding: 20px 70px 20px;
            .button_block {
                width: 240px;
            }

    }

    .main-banner__text{
        font-size: 34px;
    }

}
@media (max-width: 950px){
    .main-banner{
        .button_block{
            width: 200px;

        }
    }
    .main-banner__text{
        width: calc(100% - 205px);
        font-size: 28px;
    }

}
@media (max-width: 850px){
    .main-banner{
        margin: 0px 0 55px;
        padding: 20px;

    }

}
@media (max-width: 750px){
    .main-banner{
        margin: 20px 0;
        text-align: left;

    }
    .main-banner__text{
        margin: 0 0 22px;
        font-size: 22px;
        width: auto;
    }
}
@media (max-width: 470px){
    .main-banner__text{
        font-size: 26px;
            span{
                font-size: 1em;
            }
    }
}