
/* @media (max-width: 1200px){
    .social__fb, .social__vk{
        width: 51px;
        height: 51px;
    }
    .content__caption_activate{
        margin-top: 5%;
    }
} */
/* @media (max-width: 1024px){
    .social__fb, .social__vk{
        width: 41px;
        height: 41px;
    }
    .header:not(.header_text){
        margin-bottom: 30px;
    }
    h2, .h2{
        font-size: 45px;
        font-size: 2.8rem;
    }
    h3, .h3{
        font-size: 17px;
        font-size: 1.05rem;
    }
    .content__caption_activate .h2{
        font-size: 55px;
        font-size: 3.4rem;
    } 

}*/
@media (max-width: 890px){
    .content__form_wide{
        max-width: 100%;

    }
/*     .content__button_left{
        margin-bottom: 20px;
    } */
/*     .wrapper3{margin-top: 0;}
    .wrapper3 .content__button_left,
    .wrapper3 .content__button_right
    {
        float: none;
        width: 50%;
    } */
    .content__caption_activate {
        margin-top: 15%;
    }
/*  .content__caption_activate .h2{
        font-size: 30px;
        font-size: 1.9rem;
    } */
    .content__cool-input{margin-bottom: 105px;}
}

@media (max-width: 750px){
/*     .h2-list__item{
        height: 460px;
    } */
    .content__form_wide{
        margin-top: 260px;
    }
    .content__caption_activate {
        margin-top: 5%;
    }
    .content__caption_activate .h2{
        font-size: 30px;
        font-size: 1.90rem;
    }
    .content__cool-input{
        margin-bottom: 270px;
    }
    .section-header{
        padding: 20px 0;
    }
}
@media (max-width: 650px){
    h2, .h2{
        font-size: 40px;
        font-size: 2.5rem;
    }
    h3, .h3{
        font-size: 16px;
        font-size: 1rem;
    }
    .content__caption_activate {
        margin-top: 0;
    }
}
@media (max-width: 620px){
    .page-bottom_left{
        margin-bottom: 30px;
    }
/*     .h2-list__item{
        height: 460px;
    } */
/*     .content__button_left, .content__button_right{
        float: none;
        width: 100%;
    } */
    .page-bottom_left,
    .page-bottom_right{
        display: block;
        text-align: center;
    }
    .header:not(.header_text){
        margin-bottom: 125px;
    }
}








@media (max-width: 500px){
    .content__form_wide{
        margin-top: 310px;
    }
    .content__caption_activate .h2{
        font-size: 40px;
        font-size: 2.5rem;
    }
}

@media only screen and (max-device-width: 480px) and (max-device-height: 854px){
    .content__form_wide{
        margin-top: 335px;
    }
}
@media (max-width: 540px){
/*     .h2-list__item{
        height: 540px;
    } */
    .header:not(.header_text){
        margin-bottom: 30px;
    }
/*     .wrapper{
        background-position: 0 60px;
    } */

}
@media (max-width: 414px){
/*     .content__form_wide{
        margin-top: 230px;
    }     */
    h3, .h3{
        font-size: 14px;
    }

}
@media (max-width: 400px){
/*     .content__form_wide {
        margin-top: 190px;
    } */
    .content__cool-input{
        margin-bottom: 230px;
    }
    .content__caption_activate .h2 {
        font-size: 30px;
    }    

}

@media (max-width: 380px){
/*     .content__form_wide{
        margin-top: 165px;
    } */
    h2, .h2{
        font-size: 30px;
    }


}
@media (max-width: 369px){
    .content__form_wide{
        margin-top: 145px;
    }   
}
@media (max-width: 320px){

    .content__cool-input{
        margin-bottom: 180px;
    }
    .cool-input--nariko{
        padding-top: 30px;
    }
    .wrapper.bg-active{
        background-position: center -25px;
    }
}
/*=========== portrait ===============*/

@media only screen and (max-device-width: 500px) and (max-height: 860px) and (orientation: portrait){
    .wrapper.bg-active {
        background-image: url(../images/bg-02-xs.jpg);
    }

}
@media only screen and (max-device-width: 320px) and (max-height: 480px) and (orientation: portrait){
    .content__cool-input {
        margin-bottom: 100px;
    }
}
@media only screen and 
    (min-device-width: 1024px) and 
    (max-device-width: 1025px) and 
    (min-device-height: 1279px) and 
    (max-device-height: 1280px) and 
    (orientation: portrait){
    .header:not(.header_text){
        margin-bottom: 55px;
    }

}

/*=========== landscape ===============*/
@media only screen and 
    (min-device-width: 1279px) and 
    (max-device-width: 1280px) and 
    (min-device-height: 1024px) and 
    (max-device-height: 1025px) and 
    (orientation: landscape){
    .content__form_wide {
        margin-top: 150px;
    }
    .content__caption{
        margin-bottom: 10px;
    }
}
@media (max-width: 950px){
    .down_lg{
        display: none;
    }
}

@media only screen and (min-device-width: 961px) and (max-device-width: 1024px) and (orientation: landscape){
    .content__form_wide{
        margin-top: 135px;
        max-width: 640px;
    }
}
@media only screen and (min-device-width: 1199px) and (max-device-width: 1200px) and (orientation: landscape){
    h2, .h2{
        font-size: 49px;
        font-size: 3.1rem;
    }
    h3, .h3{
        font-size: 19px;
        font-size: 1.2rem;
    }
    .social__fb, .social__vk {
        width: 41px;
        height: 41px;
    }
    .content__caption {
        margin-bottom: 10px;
    }
    .content {
        margin-top: -50px;
    }
    .content__form_wide {
        margin-top: 150px;
    }
}
@media only screen and (max-device-width: 760px) and (orientation: landscape){
    .content__caption_activate .h2{
        display: inline-block;
        font-size: 36px;
        font-size: 2.23rem;
    }
    .content__caption_activate .h2:last-child{
        margin-left: 10px;
    }
    .social__caption{
        display: none;
    }
    .wrapper{
        background-image: url(../images/bg-sm-land.jpg);
    }
    .wrapper.bg-active{
        background-image: url(../images/bg-02-sm-land.jpg);
    }
    .content__form_wide{
        margin-top: 85px;
        max-width: 100%;
    }
    .page-bottom{
        margin-top: 20px;
    }
    .header:not(.header_text){
        margin-bottom: 30px;
    }
    h2, .h2{
        font-size: 40px;
        font-size: 2.5rem;
    }
    h3, .h3{
        font-size: 16px;
        font-size: 1rem;
    }
    .content__button_left{
        float: left;
        width: 49%;
    }
/*     .wrapper3{
        min-height: 0;
        margin-top: 5%;
    }
    .wrapper3 .cool-input--nariko{
        padding-top: 30px;
    } */
    .content__caption_activate{
        margin-top: 5%;
    }
    .content__cool-input {
        margin-bottom: 35px;
    }



    .content__form_wide{
        margin-top: 110px;
    }

}

@media only screen and (max-device-width: 850px) and (orientation: landscape){
    .header:not(.header_text){
        margin-bottom: 10px;
    }

}
@media only screen and (max-device-width: 900px) and (orientation: landscape){
    .content__form_wide{
        margin-top: 65px;
    }
    .page-bottom{
        margin-top: 0;
    }
}

@media only screen and (max-device-width: 750px) and (orientation: landscape){

    .content__form_wide{
        margin-top: 60px;
    }
    .page-bottom_left,
    .page-bottom_right{
        display: block;
        text-align: center;
    }
    .page-bottom{
        margin-top: 100px;
    }
    h3, .h3{
        font-size: 16px;
        font-size: 1em;
    }   
    h2, .h2{
        font-size: 25px;
        font-size: 1.55rem;
    }
    .down_xs{
        display: block;
        right: -80%;
        top: calc(100vh - 63px);
        width: 45px;
        height: 45px;
    }
    .content__cool-input{
        margin-bottom: 35px;
    }

}
@media only screen and (max-device-width: 640px) and (orientation: landscape){
    .content__cool-input{
        margin-bottom: 10px;
    }
/*     .wrapper3 .cool-input--nariko {
        padding-top: 20px;
    } */
    .content__form_wide{
        margin-top: 20px;
    }
}
@media only screen and (max-device-width: 520px) and (orientation: landscape){
    .content__caption_activate .h2{
        font-size: 30px;
        font-size: 1.9rem;
    }

}
@media only screen and (min-device-width: 580px) and (max-device-width: 700px) (orientation: landscape){
    .content__form_wide{
        margin-top: 30px;
    }

    .page-bottom_left,
    .page-bottom_right{
        display: block;
        text-align: center;
    }
    .page-bottom{
        margin-top: 80px;
    }
    h3, .h3{
        font-size: 16px;
        font-size: 1em;
    }


}
@media only screen and (min-device-width: 560px) and (max-device-width: 568px) and (orientation: landscape){
    .down_xs{
        display: block;
        right: -77%;
        top: calc(100vh - 54px);
        width: 45px;
        height: 45px;
    }
}
@media (max-width: 480px){
    .wrapper
     {
         padding: 19px 19px 10px;
        background-image: url(../images/bg-xs.jpg);
     }
     .wrapper-news-inner{
        padding: 19px;
     }
}


