/*================== MENU =================*/
.header-menu{
	width: 100%;
		.divider{
			display: inline-block;
			margin: -1px 10px;
			background: #fff;
			height: 14px;
			width: 2px;
		}
}
.header-menu__list{
    clear: fix;
    margin: 20px 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-menu__item{
	list-style: none;
    margin-left: 6%;
}


.header-menu__link {
    position: relative;
    display: inline-block;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    @mixin font-regular;
	padding: 5px 10px 5px;
	color: #fff;
	text-shadow: none;
	font-weight: 700;
        &:before,
        &:after{
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
/*             right: 0;
            margin: auto;
            width: 95%; */
            height: 3px;
            background: red;
            content: '';
/*             -webkit-transform: scale(0.85);
            -moz-transform: scale(0.85);
            transform: scale(0.85); */
            opacity: 0;
            -webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s, width 0.3s;
            -moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s, width 0.3s;
            transition: top 0.3s, opacity 0.3s, transform 0.3s, width 0.3s;
        }
        &:hover:before,
        &:focus:before,
        &:hover:after,
        &:focus:after{
/*             -webkit-transform: scale(0.90);
            -moz-transform: scale(0.90);
            transform: scale(0.90); */
            width: 100%;
        }
        &:hover:before,
        &:focus:before{
            opacity: 1;
            bottom: 0px;
        }
        &:hover:after,
        &:focus:after{
            top: calc(0% - 3px);
            top: -ms-calc(0% - 3px);
            opacity: 1;
        }
}

.header-menu__list .header-menu__link.active::before{
	opacity: 1;
}

@media (max-height: $trig-lg-height), (max-width: $trig-lg-width){
    .header-menu__list{
        margin: 15px 0;
    }
    .header-menu__link{
        font-size: 16px;
    }
    .divider{
        margin: 0 5px;
    }
}
@media (max-width: $trig-md-width){  
    .header-menu__item{
        margin-left: 4%;
    }
}
@media (max-width: 1200px){
    .header-menu__list{
        margin: 12px 0;
    }
    .header-menu__list{
        display: none;
    }

}