/*================ POPUP ================*/
.popup
{
    position: fixed;
    z-index: 150;
    top: 50vh;
    right: 0;
    left: 0;
    overflow: hidden;
    max-height: 100%;
    width: 620px;
    max-width: 87.5%;
    margin: auto;
    padding: 45px 59px 75px;

    -webkit-transform: translateY(0) translateZ(0);
            transform: translateY(0) translateZ(0);
    transition: transform .3s ease-out;
    text-align: left;
    pointer-events: none;

    opacity: 0;
    border: 1px solid #666;
    background: #2C2C2C;
}
.popup-stat{
    position: relative;
    width: 620px;
    @mixin font-main;
    border: 1px solid #666;
    background: #2C2C2C;
    margin: 0 auto 30px;
    padding: 45px 59px 75px;
}
.popup_wide{
    width: 937px;
    padding-bottom: 38px;
}
.popup.visible
{
    overflow: visible;

    max-height: 100000%;

/*     -webkit-animation-name: anim-open2;
            animation-name: anim-open2;
    -webkit-animation-duration: .2s;
            animation-duration: .2s; */
    -webkit-transform: translateY(-50%) translateZ(0);
    transform: translateY(-50%) translateZ(0);
    transition: all .3s ease-out;
    pointer-events: auto;

    opacity: 1;

    z-index: 1000;
}
.popup_large.visible
{
    position: absolute;
/*     -webkit-animation-name: anim-open;
            animation-name: anim-open; */
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
    transition: all .3s ease-out;            
}
.popup.invisible
{
/*     -webkit-animation-name: anim-close;
            animation-name: anim-close;
    -webkit-animation-duration: .2s;
            animation-duration: .2s; */
        -webkit-transform: translateY(-webkit-calc(50vh + 50%)) translateZ(0);
                transform: translateY(-ms-calc(50vh + 50%)) translateZ(0);
                transform: translateY(calc(50vh + 50%)) translateZ(0);
    transition: all .3s ease-out;
}
.popup.out
{
/*     -webkit-animation-name: anim-out;
            animation-name: anim-out;
    -webkit-animation-duration: .2s;
            animation-duration: .2s; */
        -webkit-transform: translateY(-webkit-calc(50vh + 50%)) translateZ(0);
                transform: translateY(-ms-calc(50vh + 50%)) translateZ(0);
                transform: translateY(calc(50vh + 50%)) translateZ(0);
    pointer-events: none;
}
.popup__header
{
    font-family: 'ProximaNovaExtraboldItalic', sans-serif;
    font-size: 28px;
    font-size: 1.75rem;
    font-weight: normal;

    position: relative;
    text-transform: uppercase;
    margin-bottom: 43px;

    color: #4d4d4d;
            &:last-child{
                margin-bottom: 0;
            }
}
.popup__header_upper
{
    margin-bottom: 0;
}
.popup__header_top{
    margin: 0 0 30px 0;
}
.popup__close
{
    top: -25px;
    right: -40px;
}

.popup_wide .popup__close{
    top: -24px;
}
.popup__block
{
    margin-bottom: 58px;
        &:last-child{
            margin-bottom: 0;
        }
}
.popup__content form{
    position: relative;
    padding-bottom: 55px;
        &:last-child{
            padding-bottom: 0;
        }
}
.popup__block_inputs
{
    margin-bottom: 25px;
}
.popup__caption
{
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.3;

    max-width: 355px;
    margin-bottom: 22px;
}
.popup__cell:first-child
{
    width: 61%;
    padding-right: 10px;
}
.popup__button
{
    font-size: 14px;
    margin-top: -9px;
    padding: 14px 0 13px;
}
.popup__social
{
    /* display: none; */

    padding-top: 23px;

    border-top: 1px solid #4d4d4d;
}
.popup__social-caption
{
    font-size: 16px;

    margin-bottom: 25px;
    text-align: center;
    color: $grey-text-light;
}
.popup__social-buttons ul{
    padding: 0;
}
.popup__footer .popup__social-buttons{
    margin-top: 25px;
}
.popup__social-buttons:after
{
    display: block;
    clear: both;

    content: '';
}
.popup__social_fb
{
    float: left;
}
.popup__social_vk
{
    float: right;
}
.popup__social_fb,
.popup__social_vk
{
    width: 235px;
}
.popup__check
{
    width: 158px;
    height: 158px;
    margin: 61px auto 46px;
}
.popup__header + .popup__subcaption
{
    display: inline-block;

    max-width: 453px;
    margin-top: 15px;

    vertical-align: top;
}
.popup__header + .popup__subcaption_narrow
{
    max-width: 369px;
    margin-bottom: 10px;
}
.popup__desript{
    text-align: left;
    color: #878787;
    margin: 35px 0 0;
    line-height: 1.8;
}
.pass-reset__line{
    display: flex;
    justify-content: space-between;
}
.reset-pass__link{
    text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
}
#repeatEmail{
    text-align: center;
        .confirm-reg-buttons{
            width: 100%;
        }
}
.popup__msg-success{
    font-size: 14px;
    border-top: 1px solid #bf0000;
    height: 0;
    overflow: hidden;
    padding-top: 0;
    margin-top: 0;
    opacity: 0;
    transition: opacity .45s linear, height .25s ease-out;
        &.visible{
            height: 80px;
            opacity: 1;
            padding-top: 30px;
            margin-top: 35px;
            transition: opacity .6s linear, height .25s ease-out, padding .25s ease-out, margin .25s ease-out;
        }
}
#user-photo-form{
    margin: 40px 0 0;
}
.popup__footer{
    margin-top: 45px;
    border-top: 1px solid $grey;
    font-size: 16px;
    padding: 45px 0 0;
    @mixin font-main;
    color: #878787;
}
@media (max-height: 1080px), (max-width: 1919px)
{
    .popup_large
    {
        top: 0;
        right: 0;
        left: 0;

        margin: auto;

        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
    .popup_large.visible
    {
        top: 40px;
    }
}
@media (max-width: 1360px)
{
    .popup
    {
       /*  top: 40px; */
        right: 0;
        left: 0;

        margin: auto;

        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
}
@media (max-width: 650px)
{
    .popup,
    .popup-stat
    {
        width: 87.5%;
        padding: 18px 20px 60px;
    }
    .popup{
        position: absolute;
        /* top: 27px; */
        &.visible{
            /* top: 50%; */

        }
    }
    .popup__header
    {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .popup__header_upper
    {
        margin-bottom: 0;
    }
    .popup__close
    {
        top: -5px;
        right: -5px;

        -webkit-transform: scale(.65);
            -ms-transform: scale(.65);
                transform: scale(.65);
    }
    .popup__block
    {
        margin-bottom: 35px;
    }
    .popup__block_inputs
    {
        margin-bottom: 25px;
    }
    .popup__caption
    {
        font-size: 14px;
        line-height: 1.6;

        max-width: 200px;
        margin-bottom: 26px;
    }
    .popup__caption div
    {
        display: inline-block;

        vertical-align: baseline;
    }
    .popup__cell:first-child
    {
        width: 100%;
        padding-right: 0;
    }
    .popup__cell_pd
    {
        padding-top: 28px;
    }
    .popup__button
    {
        width: 100%;
        margin-top: 0;
    }
    .popup__social
    {
        margin-top: 60px;
        padding-top: 15px;
    }
    .popup__social_fb,
    .popup__social_vk
    {
        float: none;

        width: 100%;
        padding-left: 5px;
    }
    .popup__social_vk
    {
        margin-top: 15px;
    }
    .popup__check
    {
        width: 111px;
        height: 111px;
        margin-top: 49px;
        margin-bottom: 35px;
    }
    .popup__header + .popup__subcaption
    {
        max-width: 100%;
        margin-top: 9px;
    }
    .popup__content form{
        padding-bottom: 15px;
    }
    .popup__social{
        margin-top: 10px;
    }
    .pass-reset__line{
        display: block;
            .button_sm,
            .button_md{
                width: 100%;
                margin-bottom: 20px;
                    &:last-child{
                        margin: 0;
                    }
            }
    }
    .popup__social-caption{
        margin-bottom: 15px;
    }
    .popup__social-caption
    {
        font-size: 14px;
    }
}

/*=================== NEW POPUP ===================*/

.anim-wrap{
    position: relative;
}
.popup__subcaption{
    color: $grey-text-light;
    @mixin font-main;
    min-width: 90%;
    font-size: 18px;
    margin-bottom: 0;
        &:last-child{
            margin: 0;
        }
}
.msg-success-frame{
    position: absolute;
    top: 110%;
    display: block;
    height: 100%;
    width: 100%;
    border: 1px solid $red;
    /* padding: 32px 60px; */
    color: #fff;
    background: #2C2C2C;
    opacity: 0;
    z-index: -1;
    text-align: center;
/*         &:before{
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        } */
        &.active{
            opacity: 1;
            z-index: 10;
            top: 0;
            transition: opacity .25s ease-out, top .35s ease-out;
        }
        p{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            width: 100%;
            padding: 30px;

        }
}
@media (max-width: 650px){
    .popup_wide .popup__close{
        top: 5px;
    }
    .pass-reset__line{
        display: block;
    }
    .reset-pass__link{
        margin-top: 20px;
        display: block;

    }
    .popup__subcaption{
        font-size: 14px;
    }
    .popup__footer{
        margin-top: 30px;
        padding: 25px 0 0;
        font-size: 13px;
    }
    .popup__check{
        width: 110px;
        height: 110px;
    }
    .msg-success-frame p{
        padding: 15px;
    }
/*     .msg-success-frame{
        padding: 32px 20px;
    } */

}
@media (max-width: 320px){
    .popup__desript{
        margin: 35px 0;
    }
}
@-webkit-keyframes anim-open
{
    0%
    {
        -webkit-transform: translateY(-webkit-calc(50vh + 50%)) translateZ(0);
                transform: translateY(-ms-calc(50vh + 50%)) translateZ(0);
                transform: translateY(calc(50vh + 50%)) translateZ(0);
    }
    100%
    {
        -webkit-transform: translateY(0) translateZ(0);
                transform: translateY(0) translateZ(0);
    }
}
@keyframes anim-open
{
    0%
    {
        -webkit-transform: translateY(-webkit-calc(50vh + 50%)) translateZ(0);
                transform: translateY(-ms-calc(50vh + 50%)) translateZ(0);
                transform: translateY(calc(50vh + 50%)) translateZ(0);
    }
    100%
    {
        -webkit-transform: translateY(0) translateZ(0);
                transform: translateY(0) translateZ(0);
    }
}
@-webkit-keyframes anim-open2
{
    0%
    {
        -webkit-transform: translateY(-webkit-calc(50vh + 50%)) translateZ(0);
                transform: translateY(-ms-calc(50vh + 50%)) translateZ(0);
                transform: translateY(calc(50vh + 50%)) translateZ(0);
    }
    100%
    {
        -webkit-transform: translateY(-50%) translateZ(0);
                transform: translateY(-50%) translateZ(0);
    }
}
@keyframes anim-open2
{
    0%
    {
        -webkit-transform: translateY(-webkit-calc(50vh + 50%)) translateZ(0);
                transform: translateY(-ms-calc(50vh + 50%)) translateZ(0);
                transform: translateY(calc(50vh + 50%)) translateZ(0);
    }
    100%
    {
        -webkit-transform: translateY(-50%) translateZ(0);
                transform: translateY(-50%) translateZ(0);
    }
}
@-webkit-keyframes anim-close
{
    0%
    {
        -webkit-transform: translateY(0) translateZ(0);
                transform: translateY(0) translateZ(0);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translateY(-webkit-calc(50vh + 50%));
                transform: translateY(-ms-calc(50vh + 50%));
                transform: translateY(calc(50vh + 50%));

        opacity: 1;
    }
}
@keyframes anim-close
{
    0%
    {
        -webkit-transform: translateY(0) translateZ(0);
                transform: translateY(0) translateZ(0);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translateY(-webkit-calc(50vh + 50%));
                transform: translateY(-ms-calc(50vh + 50%));
                transform: translateY(calc(50vh + 50%));

        opacity: 1;
    }
}
@-webkit-keyframes anim-out
{
    0%
    {
        -webkit-transform: translateY(0) translateZ(0);
                transform: translateY(0) translateZ(0);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translateY(-webkit-calc(-50vh - 50%));
                transform: translateY(-ms-calc(-50vh - 50%));
                transform: translateY(calc(-50vh - 50%));

        opacity: 0;
    }
}
@keyframes anim-out
{
    0%
    {
        -webkit-transform: translateY(0) translateZ(0);
                transform: translateY(0) translateZ(0);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translateY(-webkit-calc(-50vh - 50%));
                transform: translateY(-ms-calc(-50vh - 50%));
                transform: translateY(calc(-50vh - 50%));

        opacity: 0;
    }
}