/*=============== PUSH MENU ==============*/
.push-menu{
	display: block;
	position: fixed;
	left: 0;
  top: 0;
	width: 100%;
	height: 100%;
	z-index: 800;
	background: rgba(0, 0, 0, 0);
  transition: background .35s ease-out .15s, z-index .1s ease-out .5s,opacity .35s ease-out .25s;
  text-align: center;
  z-index: -1000;
  opacity: 0;
    .social2__icon{
      margin-right: 5px;
        &:last-child{
          margin-right: 0;
        }
    }
    .social-group{
      display: flex;
      justify-content: space-between;
      margin: 35px 20px 0 20px;
    }

}
.push-menu__inner{
  position: absolute;
  width: 83%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 0;
  margin: 0 ;
  text-align: left;
}
.push-menu__list{
  position: relative;
  padding: 0;
  opacity: 0;
  margin-top: -160px;
  transition: margin-top .35s ease-out, opacity .3s ease-out;
}
.push-menu--open{
  background: rgba(0, 0, 0, .9);
	transition: background .35s ease-out 0s, z-index 0s ease-out,opacity .15s ease-out;
  overflow-y: auto;
  display: block;
  z-index: 800;
  opacity: 1;
    .push-menu__list{
      opacity: 1;
      margin-top: 0;
      transition: margin-top .35s ease-out 0s,opacity .3s ease-out .15s;
    }
    .lines-button--open{
        opacity: 1;
        -webkit-transform: scale3d(1.4, 1.4, 1.4) rotate(180deg);
        transform: scale3d(1.4, 1.4, 1.4) rotate(180deg);
        transition: transform .35s ease-out .1s;

    }

}
.push-menu__item{
	list-style: none;
  border-top: 1px solid rgba(65, 65, 65, 1);
    &:last-child{
      border-bottom: 1px solid rgba(65, 65, 65, 1);
    }

}
.push-menu__link{
	display: block;
	text-decoration: none;
	padding: 30px 0 30px 20px;
  @mixin font-bold;
  font-size: 28px;
  text-transform: uppercase;
}
.b-push-btn{
	display: none;
	float: right;
  cursor: pointer;
  opacity: 1;
  transform: scale(1);
  transition: opacity .15s ease-out .15s,  transform .2s ease-out .2s;
	/* margin: 15px 20px 0 0; */
    &.vis{
      opacity: 0;
      transform: scale(0);
      transition: opacity .15s ease-out .15s, transform .2s ease-out;
      
    }
}
.close-push{
	/* position: fixed!important; */
	right: 0;

	top: 0;
	/* padding: 20px; */
	/* opacity: 0; */
	z-index: 20000;
	/* background: #000; */
  cursor: pointer;
}
.close-push--click{
	right: 280px;
	opacity: 1;
	z-index: 10000;
	transition: right .35s ease-out .3s, opacity .1s ease-out .3s;
}
.push-menu__social{
    &:first-child{
      margin-left: 0;
    }
}
/* ====================== lines button =========================*/

.lines-button {
  display: inline-block;
  padding: 0;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: 0.57143rem;
  background: transparent;
  border: none;
  outline: none;

}
.lines-button--open{
    position: absolute;
    top: 85px;
    right: 60px;
    border: none;
	  outline: none;
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(0deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate(0deg);
    opacity: 0;
    transition: transform .25s ease-out, opacity .35s ease-out;
}
.lines-button:active {
  transition: 0;
}
.push-btn__lines {
  display: inline-block;
  width: 3rem;
  height: 0.2rem;
  background: #ecf0f1;
  border-radius: 0.48571rem;
  transition: 0.3s;
  position: relative;
    &:after,
    &:before {
      width: 3rem;
      height: 0.2rem;
      background: #ecf0f1;
      border-radius: 0.48571rem;
      transition: 0.3s;
      position: absolute;
      left: 0;
      content: '';
      -webkit-transform-origin: 0.28571rem center;
      transform-origin: 0.28571rem center;
    }
    &:before{
        top: .8rem;
    }
    &:after{
        top: -.8rem;
    }
}
.push-btn__lines_close{
  width: 40px;
  height: 25px;
  display: block;
  background: url(../images/close.png) center no-repeat;
}
.lines-button:hover .push-btn__lines:before {
  top: 1rem;
}
.lines-button:hover .push-btn__lines:after {
  top: -1rem;
}

.lines-button--open .push-btn__lines:before,
.lines-button--open .push-btn__lines:after {
  top: 0;
  width: 1.2rem;
}
.lines-button--open .push-btn__lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 30deg);
  transform: rotate3d(0, 0, 1, 30deg);
  top: 3px;
}
.lines-button--open .push-btn__lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -30deg);
  transform: rotate3d(0, 0, 1, -30deg);
  top: -3px;
}
.push-menu__social{
  padding: 10px 30px;
}
@media (max-width: 1200px){
  .b-push-btn{
    display: block;
  }
  .header-menu{
    height: 59px;
    line-height: 59px;
  }
}
@media (max-width: 850px){
  .lines-button--open{
      top: 40px;
      right: 35px;
  }
}
@media only screen and (max-device-width: 1024px) and (orientation: landscape){
  .push-menu__inner{
    width: 60%;

  }
  .push-menu__link{
    padding: 15px 0 15px 20px;
  }
}
@media only screen and (max-device-width: 760px) and (orientation: landscape){
  .push-btn__lines {
    width: 2.3rem;
        &:after,
        &:before{
          width: 2.3rem;
        }        
        &:after{
          top: -.7rem;
        }
        &:before{
          top: .7rem;
        }
  }
}
@media (max-width: 540px){
  .push-btn__lines {
    width: 2.3rem;
        &:after,
        &:before{
          width: 2.3rem;
        }        
        &:after{
          top: -.7rem;
        }
        &:before{
          top: .7rem;
        }
  }
  .push-menu__link{
    font-size: 18px;
    padding: 17px 10px;
  }
  .push-menu{
      .social2__icon{
        margin-right: 5px;
      }
      .social-group{
        margin: 15px 10px 0 10px;
      }

  }
  .lines-button--open{
    top: 33px;
    right: 20px;

  }
  .push-menu--open .lines-button--open{
    transform: scale3d(1.2, 1.2, 1.2) rotate(180deg);
  }
}

@media (max-width: 320px){
  .push-menu__link{
    padding: 10px 10px;
  }
  .push-menu{
      .social2__icon{
        margin-right: 5px;
      }
      .social-group{
        display: block;
      }

  }

}