/*=============== QA ===============*/
.qa{
    margin-bottom: 75px;
}
.qa__item
{
    -webkit-transition: background .5s, margin-top .5s;
            transition: background .5s, margin-top .5s;
    border-bottom: 1px solid #4d4d4d;
    border-left: 1px solid #4d4d4d;
    border-right: 1px solid #4d4d4d;
}

.qa__item:first-child{
    border-top: 1px solid #4d4d4d;
}

.qa__header:after
{
    display: table;
    clear: both;
    content: '';
}
.qa__header
{
    font-family: 'ProximaNovaBlackItalic';
    position: relative;
    padding: 44px 104px 44px 54px;
    cursor: pointer;
    -webkit-transition: background .2s, color .2s;
            transition: background .2s, color .2s;

}
.qa__header:hover
{
    background: #1a1a1a;
}

.qa__toggle
{
    top: 0;
    right: 49px;
    bottom: 0;

    margin: auto;
}
.qa__header-text{
    text-transform: uppercase;
}
.qa__core
{
    padding: 52px 51px 73px;

    border-top: 1px solid #4d4d4d;

    font-size: 21px;
    line-height: 1.5;

    font-family: 'ProximaNovaRegular';
}

.qa__description{
    max-width: 85%;
}
.qa__opened
{
    background: #1a1a1a;

}
.qa__opened + .qa__opened
{
    margin-top: 2px;
    border-top: 1px solid #4d4d4d;
}

@media (max-height: 1080px), (max-width: 1919px){
/*     .wrapper3{
    height: calc(100vh - 318px);} */
    .qa__header-text{
        font-size: 22px;
    }
    .qa__header{
        padding: 55px 104px 56px 60px;
    }
    .qa__toggle{
        right: 37px;
    }
    .qa__core{
        padding: 62px 55px 73px;
        font-size: 18px;
        line-height: 1.9;
    }
}

@media (max-width: 850px)
{
    .qa__header
    {
        padding: 39px 61px 37px 31px;
    }

    .qa__header-text{
        font-size: 16px;

    }
    .qa__core
    {
        padding: 42px 31px 60px;
        line-height: 1.6;
    }
    
    .qa__toggle
    {
        right: 21px;
        top: -11px;
    }
    
}
@media (max-width: 400px)
{
    .qa__header
    {
        font-size: 12px;
       padding: 41px 50px 39px 21px;

    }
   
    
    .qa__core {
        padding: 34px 18px 48px;
        font-size: 14px;
        line-height: 1.9;
    }
    .toggler{
        -webkit-transform: scale(.66);
        -ms-transform: scale(.66);
        -o-transform: scale(.66);
        transform: scale(.66);
    }
    .qa__toggle
    {
        top: -10px;
        right: 8px;

    }

    .qa .toggler.minus{
        -webkit-transform: rotate(-180deg) translateY(-6px) scale(.66);
        -ms-transform: rotate(-180deg) translateY(-6px) scale(.66);
            transform: rotate(-180deg) translateY(-6px) scale(.66);
    }

    .qa .toggler:before,
    .qa .toggler:after
    {
        height: 2px;
    }

}
.toggler
{
    position: absolute;

    width: 45px;
    height: 16px;
    -webkit-transition: -webkit-transform .5s;
            transition: -webkit-transform .5s;
            transition: transform .5s;
            transition: transform .5s, -webkit-transform .5s;
}
.toggler:before,
.toggler:after
{
    position: absolute;

    content: '';

    background: #bc0000;
}
.toggler:before
{
    top: 14px;
    left: 4px;

    width: 48%;
    height: 1px;

    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.toggler:after
{
    top: 14px;
    right: 4px;

    width: 48%;
    height: 1px;

    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.toggler.minus
{
    -webkit-transform: rotate(-180deg) translateY(-6px);
        -ms-transform: rotate(-180deg) translateY(-6px);
            transform: rotate(-180deg) translateY(-6px);
}
@media (max-width: 400px){
    .qa{
        margin-left: -19px;
        margin-right: -19px;
    }

}