/*========= req-settings =========*/
.req-settings{
	margin-top: 100px;
	padding: 65px 40px 40px;
	border: 1px solid #4d4d4d;
    margin-bottom: 75px;
}
.popup__header_req{
    padding-left: 95px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(../images/req-icon.svg);
    background-repeat: no-repeat;
    background-position: 15px 0px;
    -webkit-background-size: 56px 56px;
    background-size: 56px 56px;
    margin-top: -10px;
    margin-bottom: 30px;
    font-size: 38px;
}


.req-table{
    table-layout: fixed;
    width: 100%;
}
.req-settings__head{
    height: 57px;
    margin: 0px -40px;
    border-bottom: 1px solid #4d4d4d;
    text-align: left;
    padding: 0 40px;
}
.req-settings__head *{
    height: 100%;
}
.req-table__header{
    display: table-cell;
    vertical-align: middle;
    width: 33.33%;
    text-align: left;
    padding: 10px 15px;
}
.req-table__cell:not(:first-child):not(.req-table__header){
    color: #8c8c8c;
}

.req-table__cell{
    height: 57px;
    vertical-align: middle;
    border-bottom: 1px solid #4d4d4d;
    padding: 10px 15px;
}
 .req-table__cell + .req-table__cell{
        padding-left: 15px;
}

tbody tr:last-child .req-table__cell{
    border-bottom: none;
}
@media (max-width: 1100px){
    .req-table {
        font-size: 14px;
    }
    .req-settings__head{
        height: auto;
    }
}
@media (max-width: 750px){

    table.req-table, .req-table thead, .req-table tbody, .req-table__cell, .req-table tr {
        display: block;
        height: auto;
    }

    .req-settings__head {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .req-table__cell:before{
        display: block;
    }
     .req-table__cell{
        padding: 6px 0;
     }
    .req-table__cell:nth-child(1) {border-bottom: none; padding-top: 11px; }
    .req-table__cell:nth-child(2) {border-bottom: none; }
    .req-table__cell:nth-child(3) { padding-bottom: 11px; }

    /*.req-table__cell:nth-of-type(1):before { content: "First Name"; }*/
    .req-table__cell:nth-child(2):before { content: "Минимальные требования"; }
    .req-table__cell:nth-child(3):before { content: "Рекомендуемые требования"; }

    .popup__header_req{
        -webkit-background-size: 39px 39px;
        background-size: 39px 39px;
        background-position: 3px center;
        padding-left: 57px;
        margin-bottom: 0;

    }
    .req-table__cell + .req-table__cell{
        padding-left: 0;
    }


}
@media (max-height: $trig-lg-height), (max-width: $trig-lg-width){
	.req-settings{
		margin: 75px 0;
	}
}
@media (max-width: 980px){
    .popup__header_req{
        font-size: 28px;
    }
}
@media (max-width: 680px){
    .popup__header_req{
        font-size: 21px;
    }
    .req-settings{
        padding: 15px;
    }
}