/*======= MAIN PAGE BANNER ========*/
.b-slogan{
    border: 1px solid $red;
    padding: 35px 125px 35px 90px;
    margin: 165px 0;
    clear: both;
        .button {
            vertical-align: middle;
        }

}
.slogan__text{
    display: inline-block;
    vertical-align: middle;
    font-size: 48px;
    color: $red;
    width: calc(100% - 290px);
    line-height: 1;
    @mixin font-thin-i;
    text-transform: uppercase;
        span{
            display: block;
            margin-top: 20px;
            @mixin font-black-i;
            color: $white;
           font-size: 1.35em;
        }

}
@media (max-height: $trig-lg-height), (max-width: $trig-lg-width){
    .b-slogan{
        margin: 135px 0;
        padding: 20px 75px;
    }
    .slogan__text{
        font-size: 42px;
        width: calc(100% - 255px);
    }


}
@media (max-width: 1100px){
    .b-slogan{
        padding: 20px 45px;

    }

    .slogan__text{
        font-size: 34px;
    }

}
@media (max-width: 950px){
    .slogan__text{
        width: calc(100% - 255px);
        font-size: 24px;
    }

}
@media (max-width: 768px){
    .b-slogan{
        margin: 75px 0;
    }
}
@media (max-width: 750px){
    .b-slogan{
        margin: 55px 0;
        text-align: left;

    }
    .slogan__text{

    }
    .b-slogan{
        margin: 30px 0;
        padding: 40px;
            .button {
                width: 100%;
            }
    }
    .slogan__text{
        margin: 0 0 22px;
        font-size: 28px;
        width: auto;
        line-height: 12px;
            span{
                font-size: 1em;
            }
    }

}
@media (max-width: 580px){
    .b-slogan{
        margin: 50px 0;
        text-align: left;
        padding: 40px 30px;

    }

}
@media (max-width: 320px){
    .slogan__text{
        font-size: 22px;        
    }

}