/*================= SOCIAL ===============*/

/*================ SHARE SOCIAL ===============*/
.share-b{
    display: table;
    margin-bottom: 50px;
        .social__links{
            padding-left: 10px;
        }
        .social2__item{
            margin: 0;
        }
}
.social__links,
.share__title{
    display: table-cell;
    vertical-align: middle;
}
.share__title{
    /* width: 15%; */
    text-transform: uppercase;
    color: $lr;
    @mixin font-regular;
}
@media (max-width: 480px){
    .share-b{
        margin-bottom: 20px;

            .social2__icon{
                width: 40px;
                height: 40px;
            }
    }

}