/*======= SOCIALS FRAMES =======*/

.social-frames{
    clear: fix;
    margin: 0 -15px;
    padding-bottom: 55px;
        .section-header__title{
            margin-bottom: 55px;
        }
}
.social-frames__banner{
    width: 48%;
    padding: 0 15px;
    float: left;
        img{
            width: 100%;
        }
        &:first-child{
            margin-right: 4%;
        }
}

.social-frame{
    clear: both;
}
.social-frames__title{
    font-size: 41px;
    margin: 0 0 55px;
    text-align: center;
    width: 100%;
}
@media (max-height: $trig-lg-height), (max-width: $trig-lg-width){
    .social-frames{
        padding-bottom: 0;
    }
    .social-frames__title{
        font-size: 32px;
    }

}
@media (max-width: 980px){
    .social-frames__title{
        font-size: 28px;
        margin-bottom: 35px;
    }
}
@media (max-width: 750px){
    .social-frames__banner:first-child{
        margin: 0 0 20px 0;
    }
    .social-frames__title{
        font-size: 20px;
    }    

}
@media (max-width: 380px){
    .social-frames__title{
        text-align: left;
        margin: 20px 0 25px;
    }

}