/*================ TABLE ===============*/
.table{
	display: table;
	width: 100%;
}

.table__cell{
	display: table-cell;
	vertical-align: top;
}

@media (max-width: $trig-popup){
	.table,
	.table__cell{
		display: block;
		width: 100%;
	}
}