/* TOP VIEW
=======================*/
.top-view{
    height: calc(100vh - 260px);
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display:         flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
            justify-content: space-around;
}
.top-view__bottom{
    position: relative;
    display: table;
    width: 100%;
}
.content,
.top-view__bottom
{
    /* max-width: 50%; */
    padding: 0 96px;
}
.content__caption
{
    margin: 0 0 50px;
}
.content__buttons-vert
{
    width: 365px;
    margin-top: 49px;
}

.top-view__btn-group{
    max-width: 541px;
    margin-top: 80px;
        .button{
            width: 310px;
            display: block;
            margin-bottom: 30px;
            text-transform: uppercase;
        }

}
.content__cool-input
{
    margin-bottom: 30px;
}
.content__buttons_hor:after
{
    display: block;
    clear: both;

    content: '';
}
.content__buttons_hor .button
{
    font-size: 21px;
    padding: 20px 5px 19px;
}
.content__button_left
{
    width: 60%;
    white-space: nowrap;
}
.content__button_left
{
    float: left;
}
.content__button_right
{
    float: right;
}
@media (max-height: $trig-lg-height), (max-width: $trig-lg-width)
{
	.top-view{
        height: calc(100vh - 120px);
    }
    .content__caption
    {
        margin: 0px 0 50px;
    }
    .content__button_left
    {
        width: 47%;
    }
    .top-view__btn-group{
            .button{
                width: 265px;
            }

    }
    .content,
    .top-view__bottom
    {
        padding: 0 53px;
    }

}
@media (max-width: 1360px)
{
    .content
    {
        max-width: 100%;
    }
}
@media (max-width: 890px){
    .content__cool-input{margin-bottom: 105px;}
}

@media (max-width: 850px){
    .content,
    .top-view__bottom
    {
        padding: 0 33px;
    }
    .content__cool-input{
        width: 55%;
    }
}
@media (max-width: 768px)
{

    .top-view__btn-group{
        margin-top:55px;
    }
    .content__cool-input{
        width: 55%;
    }
    .content__caption {
        margin: 135px 0 50px;
    }
    .content__cool-input{
        margin-bottom: 270px;
    }
    .top-view__btn-group .button{
        margin-bottom: 15px;
    }

}
@media (max-width: 767px){
    .content__cool-input{
        width: 60%;
    }

}
@media (max-width: 750px){
    .content__cool-input{
        margin-bottom: 270px;
    }
}

@media (max-width: 680px){
    .content__cool-input{
        margin-bottom: 270px;
    }
    .content__caption {
        margin: 0 0 50px;
    }
    .content__cool-input{
        width: 100%;
    }
}

@media (max-width: 480px){
    .content{
        padding: 0 19px 0;
    }
}
@media (max-width: 414px)
{

    .content__caption
    {
        margin-bottom: 25px;
    }
    .content__cool-input
    {
        margin-bottom: 131px;
    }
}
@media (max-width: 400px){
    .content,
    .top-view__bottom
    {
        padding: 0 19px;
    }
    .content__cool-input{
        margin-bottom: 230px;
    }
}
@media only screen and (max-device-width: 900px) and (orientation: landscape){
    .top-view__btn-group{
        margin-top: 65px;
    }
    .top-view__bottom{
        margin-top: 0;
    }
    .content__caption{
        margin: 0 0 20px;
            .h2{
                font-size: 36px;
            }
    }
}
@media only screen and (max-device-width: 750px) and (orientation: landscape){
    .content__cool-input{
        margin-bottom: 35px;
    }

}
@media only screen and (max-device-width: 667px) and (orientation: landscape){
    .top-view__btn-group{
        margin-top: 20px;
    }
}
@media only screen and (max-device-width: 640px) and (orientation: landscape){
    .content__cool-input{
        margin-bottom: 10px;
    }
}

@media only screen and (max-device-width: 600px) and (orientation: landscape){
    .content__caption{
        margin: 0 0 10px;
            .h2{
                font-size: 28px;
            }
    }

}
@media (max-width: 480px){
     .top-view{
        height: calc(100vh - 80px);
     }
}