
/*================ VIDEO =================*/
.video{
	position: relative;
	overflow: hidden;
	margin-bottom: 35px;
}
.news__video-link{
		&:after{
			content: '';
			display: block;
			width: 85px;
			height: 85px;
			@mixin a-center;
			background: url(../images/play.png) no-repeat;

		}
}
@media (max-height: $trig-lg-height), (max-width: $trig-lg-width){
	.video{
		margin-bottom: 15px;
	}
}
/* .news [class*="col"] .video{
	margin-top: 35px;
}
.news [class*="col"]:first-child .video{
	margin-top: 0;
} */
.js-modal_video{
	outline: none;
}
.video__img{
	width: 100%;
	height: auto;
}
