/* Fillpath (http://www.nizuka.fr/)*/
/*--------------------*/
.color-10 { background: #f3cf3f; }
.gallery__arrow {
	width: 100px;
	height: 100px;
}

.fancybox-nav span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-nav::before,
.fancybox-nav::after,
.fancybox-nav span::before,
.fancybox-nav span::after 
{
	position: absolute;
	left: 50%;
	width: 3px;
	height: 70%;
	background: #566475;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.fancybox-nav span::before,
.fancybox-nav span::after {
	z-index: 100;
	height: 0;
	background: #fff;
	-webkit-transition: height 0.3s, -webkit-transform 0.3s;
	transition: height 0.3s, transform 0.3s;
}

.fancybox-nav::before,
.fancybox-nav span::before {
	top: 50%;
	-webkit-transform: translateX(-50%) rotate(-135deg);
	transform: translateX(-50%) rotate(-135deg);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.fancybox-next::before,
.fancybox-next span::before {
	-webkit-transform: translateX(-50%) rotate(135deg);
	transform: translateX(-50%) rotate(135deg);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.fancybox-nav::after,
.fancybox-nav span::after {
	top: 50%;
	-webkit-transform: translateX(-50%) rotate(-45deg);
	transform: translateX(-50%) rotate(-45deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.fancybox-next::after,
.fancybox-next span::after {
	-webkit-transform: translateX(-50%) rotate(45deg);
	transform: translateX(-50%) rotate(45deg);
	-webkit-transform-origin: 100% 0%;
	transform-origin: 100% 0%;
}

.fancybox-nav:hover span::before,
.fancybox-nav:hover span::after {
	height: 70%;
}

.fancybox-nav:hover::before,
.fancybox-nav:hover span::before {
	-webkit-transform: translateX(-50%) rotate(-125deg);
	transform: translateX(-50%) rotate(-125deg);
}

.fancybox-next:hover::before,
.fancybox-next:hover span::before {
	-webkit-transform: translateX(-50%) rotate(125deg);
	transform: translateX(-50%) rotate(125deg);
}

.fancybox-nav:hover::after,
.fancybox-nav:hover span::after {
	-webkit-transform: translateX(-50%) rotate(-55deg);
	transform: translateX(-50%) rotate(-55deg);
}

.fancybox-next:hover::after,
.fancybox-next:hover span::after {
	-webkit-transform: translateX(-50%) rotate(55deg);
	transform: translateX(-50%) rotate(55deg);
}

/*--------------------*/
@media(max-width: 650px){
	.fancybox-nav::before,
    .fancybox-nav::after,
    .fancybox-nav span::before,
    .fancybox-nav span::after{
     	height: 40%;
    }
}