.button,
[type="button"],
button{
	display: inline-block;
	text-decoration: none;
	text-align: center;
	padding: 19px 10px 18px;
	font-size: 18px;
	@mixin font-bold;
	text-transform: uppercase;
	outline:0;
	border-style: solid;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: color .2s, background-color .2s, border-color .2s;
}
.popup__button{
	text-transform: uppercase;
}
.button:disabled,
.button.disabled{
	cursor: default;
}

.button:hover,
.button:focus,
.button:active
{

text-decoration: none;
} 

.button_block{
	display: block;
	width: 100%;
}


.button_tr-silver{
	background: transparent;
	border-width: 1px;
	border-color: $btn-silver;
	@mixin link-static;
	color: #fff;
}

.button_tr-silver:disabled,
.button_tr-silver.disabled
{
	opacity: .7;
}

.button_tr-silver:not(:disabled, .disabled):hover,
.button_tr-silver:not(:disabled, .disabled):focus{
	background-color: $btn-silver;
	color: #1a1a1a;
}


.button_tr-silver:not(:disabled, .disabled):active{
	background-color: #a6a6a6;
	border-color: #a6a6a6;
	color: #808080;
}

.button_tr-grey{
	background: transparent;
	border-width: 1px;
	border-color: $btn-grey;
	@mixin link-static;
	color: $btn-grey;
}

.button_tr-grey:disabled,
.button_tr-grey.disabled
{
	opacity: .7;
}

.button_tr-grey:not(:disabled, .disabled):hover,
.button_tr-grey:not(:disabled, .disabled):focus{
	background-color: $btn-grey;
	color: #1a1a1a;
}


.button_tr-grey:not(:disabled, .disabled):active{
	background-color: #808080;
	border-color: #808080;
	color: #666666;
}

.button_red{
	background: $red;
	border-width: 1px;
	border-color: $red;
	@mixin link-static;
	color: $white;
}

.button_red:disabled,
.button_red.disabled,
.button_yellow.disabled
{
	opacity: .7;
}

.button_red:not(:disabled, .disabled):hover,
.button_red:not(:disabled, .disabled):focus{
	background-color: #f50000;
	border-color: #f50000;
}


.button_red:not(:disabled, .disabled):active{
	background-color: #990000;
	border-color: #990000;
	color: rgba(255,255,255,.4);
}
.button_yellow{
	background: $yellow;
	border-width: 1px;
	border-color: $yellow;
	@mixin link-static;
	color: #000;
}
.button_yellow:not(:disabled, .disabled):hover,
.button_yellow:not(:disabled, .disabled):focus{
	background-color: #FFD217;
	border-color: #FFD217;
}

.arr-left-xs{
	fill: #000;
}
.right-arrow-xs{
	position: absolute;
	height: 8px;
	width: 8px;
	top: 50%;
	margin-top: -4px;
	display: inline-block;
	background: url('../images/arr-left-xs.svg') no-repeat;
	background-size: 8px 8px;
	margin: 0 5px;
	transform: translateY(-50%);

}
.button_yellow:not(:disabled, .disabled):active{
	background-color: #FFD217;
	border-color: #FFD217;
	color: rgba(0,0,0,.4);
		.right-arrow-xs{
			opacity: .4;
		}
}
.button_load{
	display: block;
	margin: 40px auto;
	/* width: 20%; */
}
.button_md,
.button_sm{
	
	font-size: 14px;
	padding: 14px 0 13px;
}
.button_lg{
	width: 279px;
	font-size: 18px;
}
.button_md{
	width: 235px;
}
.button_sm{
	width: 180px;
}
@media (max-height: $trig-lg-height), (max-width: $trig-lg-width){
	.button,
	[type="button"],
	button{
		padding: 14px 5px 13px;
		font-size: 15px;
	}
	.button_lg{
		width: 235px;
	}
}

@media (max-width: $trig-xs-width){
	.button,
	[type="button"],
	button{
		font-size: 14px;
/* 		padding-top: 14px;
		padding-bottom: 15px; */
	}
}

@media (max-width: 780px){
	.button_load{
		width: 100%;
	}
}

@media (max-width: 650px){
	.login__button{
		width: 100%;
			&:first-child{
				margin-bottom: 15px;
			}
	}
	.button_load{
		margin: 10px auto 20px;
	}
	.button,
	[type="button"],
	button{
		/* padding: 10px 5px 9px; */
	}
	.button_md,
	.button_sm{
		width: 100%;
	}
}
.button_fb{
	background: transparent;
	border-width: 1px;
	border-color: $fb;
	@mixin link-static;
	color: $fb;
	padding-left: 50px;
	font-size: 14px;
	padding-top: 16px;
	padding-bottom: 15px;
}

.button_fb:disabled,
.button_fb.disabled
{
	opacity: .7;
}

.button_fb:not(:disabled, .disabled):hover,
.button_fb:not(:disabled, .disabled):focus,
.button_fb:not(:disabled, .disabled):active{
	background-color: $fb;
	color: #fff;
}

.button_fb-icon{
	position: absolute;
    top: -3px;
    left: 11px;
    width: 53px;
    height: 53px;
	.cls-1{
		fill: none;
    	stroke: none;
	}
	.cls-2{
		fill: $fb;
		transition: fill .2s;
	}
}

.button:hover .button_fb-icon .cls-2{
		fill: $white;
}

.button_vk{
	background: transparent;
	border-width: 1px;
	border-color: $vk;
	@mixin link-static;
	color: $vk;
	padding-left: 50px;
	font-size: 14px;
	padding-top: 16px;
	padding-bottom: 15px;
}

.button_vk:disabled,
.button_vk.disabled
{
	opacity: .7;
}

.button_vk:not(:disabled, .disabled):hover,
.button_vk:not(:disabled, .disabled):focus,
.button_vk:not(:disabled, .disabled):active{
	background-color: $vk;
	color: #fff; 
}

.button_vk-icon{
	position: absolute;
    top: -4px;
    left: 16px;
    width: 53px;
    height: 53px;
	.cls-1{
		fill: none;
    	stroke: none;
	}
	.cls-2{
		fill: $vk;
		transition: fill .2s;
	}
}

.button:hover .button_vk-icon .cls-2{
		fill: $white;
}
.button_lr{
	width: 235px;
	background: transparent;
	border-width: 1px;
	border-color: $lr;
	@mixin link-static;
	color: $lr;
	padding-left: 50px;
	font-size: 14px;
	padding-top: 16px;
	padding-bottom: 15px;
}

.button_lr:disabled,
.button_lr.disabled
{
	opacity: .7;
}

.button_lr:not(:disabled, .disabled):hover,
.button_lr:not(:disabled, .disabled):focus,
.button_lr:not(:disabled, .disabled):active{
	background-color: $lr;
	color: #fff; 
}

.button_lr-icon{
	position: absolute;
    top: -1px;
    left: 28px;
    width: 40px;
    height: 53px;
    fill: $lr;
	.cls-1{
		fill: none;
    	stroke: none;
	}
	.cls-2{
		fill: $lr;
		transition: fill .2s;
	}
}

.button:hover .button_lr-icon{
		fill: $white;
}
