.checkbox__input,
.radio__input
{
    display: none;
}
.checkbox__label,
.radio__label
{
    display: block;
    min-height: 20px;
    padding: 0 0 0 35px;
    cursor: pointer;
    color: #8c8c8c;
}

.checkbox__label{
    background-image: url(../images/checkbox.png);
    background-repeat: no-repeat;
    background-position: 0 1px;
}

.checkbox:hover .checkbox__label
{
    background-image: url(../images/checkbox-hov.png);
}
input:checked + .checkbox__label,
.checkbox:hover input:checked + .checkbox__label
{
    color: #fff;
    background-image: url(../images/checkbox-ch.png);
}
input:disabled + .checkbox__label
{
    opacity: .5;
}
.checkbox_other-line
{
    position: relative;
    min-height: 22px;
}
.checkbox__input-other
{
    position: absolute;
    top: -1px;
    left: 33px;
    width: 166px;
}
input.checkbox_other + .checkbox__label + input
{
    display: none;
}
input:checked.checkbox_other + .checkbox__label + input
{
    display: block;
}
input:checked.checkbox_other + .checkbox__label
{
    font-size: 0;
    color: transparent;
}
.checkbox__link
{
    text-decoration: none;
    color: #e5e5e5;
}
.checkbox__link:hover,
.checkbox__link:active,
.checkbox__link:focus
{
    text-decoration: underline;
    color: #e5e5e5;
}


.radio
{
    position: relative;
}

.radio__input
{
    display: none;
}

.radio__label:before{
    content:"";
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #bf0000, 0 0 0 1px #bf0000;
    left: 0;
    top: 0;

}

.radio:hover .radio__label:before
{
    background: #333333;
}

.radio input:checked + .radio__label:before
{
    box-shadow: 0 0 0 4px #bf0000 inset, 0 0 0 1px #bf0000;
    background: #fff;
}


@media (max-width: 400px)
{
    .checkbox__label,
    .radio__label

    {
        min-height: 20px;
    }
}
@media (max-width: 650px)
{
    .checkbox__label,
    .radio__label
    {
        font-size: 14px;
    }
}