.close{
	display: block;
	width: 23px;
	height: 23px;
	position: absolute;
	opacity: .7;
	transition: opacity .2s;
	background: url(../images/close.png) center center no-repeat;
	@mixin link-static;
	z-index: 20;
}

.close:hover{
	opacity: 1;
}


