.cool-input__container
{
    position: relative;
}
.cool-input__container + .cool-input__container
{
    margin-top: -5px;
}
.cool-input
{
    position: relative;
    z-index: 1;

    margin: 0;
}
.cool-input__field
{
    position: relative;

    display: block;
    float: right;
}
.cool-input__field:focus
{
    outline: none;
}
.cool-input__label
{
    font-size: 16px;
    font-size: 1rem;
    font-weight: bold;

    display: inline-block;
    float: right;

    width: 40%;
    padding: 0 1em;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    color: #696969;

    -moz-osx-font-smoothing: grayscale;
}
.cool-input__label-content
{
    position: relative;

    display: block;

    width: 100%;
    padding: 1.6em 0;
}
.cool-input--nariko
{
    overflow: hidden;

    padding-top: 50px;
}
.cool-input__field--nariko
{
    z-index: 100;

    width: 100%;

    opacity: 0;
}
.cool-input__label--nariko
{
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 0;

    text-align: left;
    pointer-events: none;

    color: #fff;
}
.cool-input__label--nariko::before
{
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    height: 4em;

    content: '';
    -webkit-transition: -webkit-transform .4s;
            transition: -webkit-transform .4s;
            transition:         transform .4s;
            transition:         transform .4s, -webkit-transform .4s;
    -webkit-transition-timing-function: cubic-bezier(.7, 0, .3, 1);
            transition-timing-function: cubic-bezier(.7, 0, .3, 1);
    -webkit-transform: translate3d(0, -3px, 0);
            transform: translate3d(0, -3px, 0);

    border-top: 1px solid #6b6966;
    background: transparent;
}
.cool-input__label-content--nariko
{
    padding: 10px 0 20px;

    -webkit-transition: color .3s, -webkit-transform .3s;
            transition: color .3s, -webkit-transform .3s;
            transition: transform .3s, color .3s;
            transition: transform .3s, color .3s, -webkit-transform .3s;
    -webkit-transition-timing-function: cubic-bezier(.7, 0, .3, 1);
            transition-timing-function: cubic-bezier(.7, 0, .3, 1);
    -webkit-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.cool-input__field--nariko:focus,
.cool-input--filled .cool-input__field--nariko
{
    cursor: text;
    -webkit-transition: opacity 0s .3s;
            transition: opacity 0s .3s;

    opacity: 1;
}
.cool-input__field--nariko:focus + .cool-input__label--nariko::before,
.cool-input--filled .cool-input__label--nariko::before
{
    -webkit-transition-delay: .05s;
            transition-delay: .05s;
    -webkit-transform: translate3d(0, -3.3em, 0);
            transform: translate3d(0, -3.3em, 0);

    border-top-color: transparent;
}
.cool-input__field--nariko:focus + .cool-input__label--nariko .cool-input__label-content--nariko,
.cool-input--filled .cool-input__label-content--nariko
{
    -webkit-transform: translate3d(0, -2.7em, 0) scale3d(.75, .75, 1);
            transform: translate3d(0, -2.7em, 0) scale3d(.75, .75, 1);

    color: #fff;
}

.cool-input__msg
{
    text-align: left;
    /* display: block!important; */
    position: relative;
    bottom: -5px;
    left: 0;
    opacity: 0;
    height: 0;
	
    transition: height .35s ease-out .1s, opacity .25s ease-out;
    -webkit-transition: height .35s ease-out .1s, opacity .25s ease-out;
	
}
.input-msg-error{
    height: 20px;
    opacity: 1;
        transition: height .35s ease-out, opacity .25s ease-out .2s;
    -webkit-transition: height .35s ease-out, opacity .25s ease-out .2s;
}
.input-msg--lg{
    height: 50px;
}

@media (max-width: $trig-popup){
	.cool-input__label{
		font-size: 14px;
	}
/*     .login__input.input-msg-error{
        height: 85px;
    } */
	.cool-input__field--nariko:focus + .cool-input__label--nariko .cool-input__label-content--nariko,
    .cool-input--filled .cool-input__label-content--nariko {
    	transform: translate3d(0, -1.7em, 0) scale3d(.75, .75, 1);
    }
}