.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6
{
	font-weight: normal;
}

.h1,
h1{
	font-size: 90px;
	margin: 0 0 27px;
}

.h2, h2{
	font-size: 84px;
	margin: 0 0 9px;
	line-height: 1.1;
	@mixin font-black-i;
}

.h2_light{
	@mixin font-thin-i;
}

.h3, h3{
	margin: 0 0 10px;
	font-size: 28px;
}


.h4,
h4{
	font-size: 24px;
	margin: 0 0 8px;
}

.h5,
h5{
	font-size: 20px;
	margin: 0 0 5px;
}
/*============ SECTION HEADERS ============*/

.section-header{
    clear: fix;
    padding: 30px 0 60px;
}
.section-header--sm{
    padding: 30px 0 0;
}

.section-header__title{
    float: left;
    margin: 0;
    font-size: 38px;
    color: $grey-text;
    text-transform: uppercase;
    @mixin font-black-i;
    
}

.section-header__link{
    width: 278px;
    margin-top: -8px;
}
.title_lg{
    font-size: 60px;
}

@media (max-height: $trig-lg-height), (max-width: $trig-lg-width){
	.h1,
	h1{
		font-size: 70px;
		margin: 0 0 27px;
	}

	.h2, h2{
		font-size: 60px;
		margin: 0 0 7px;
	}

	.h3, h3{
		margin: 0 0 5px;
		font-size: 24px;
	}


	.h4,
	h4{
		font-size: 20px;
		margin: 0 0 4px;
	}

	.h5,
	h5{
		font-size: 18px;
		margin: 0 0 2px;
	}
	.section-header__link{
        width: 21%;
    }
    .section-header{
        padding: 30px 0 60px;
    }
    .title_lg{
        font-size: 40px;
    }
}
@media (max-width: 850px){
    .h2_page{
        font-size: 34px;
        margin-bottom: 42px;
    }
    .section-header__title{
        font-size: 34px;
    }
    .section-header{
        padding: 30px 0;
    }
}
/* @media (max-width: 1024px){
    h2, .h2{
        font-size: 45px;
    }
    h3, .h3{
        font-size: 17px;
    }
} */
@media (max-width: 750px){
	.section-header{
        padding: 20px 0;
        font-size: 28px;
    }

    h2, .h2{
        font-size: 45px;
    }
    h3, .h3{
        font-size: 17px;
    }
}
@media (max-width: 640px){
	.h1,
	h1{
		font-size: 30px;
		margin: 0 0 20px;
	}

	.h2, h2{
		font-size: 40px;
		margin: 0 0 3px;
	}

	.h3, h3{
		margin: 0 0 4px;
		font-size: 16px;
	}


	.h4,
	h4{
		font-size: 12px;
	}

	.h5,
	h5{
		font-size: 10px;
	}
    .section-header__title{
        font-size: 28px;
    }
}

@media (max-width: 414px){
    h3, .h3{
        font-size: 14px;
    }

}
@media (max-width: 400px)
{
    .h2, h2{
        font-size: 45px;
    }
}
@media (max-width: 380px){
    h2, .h2{
        font-size: 30px;
    }
    h3, .h3{
        font-size: 12px;
    }
}
@media only screen and (max-device-width: 760px) and (orientation: landscape){
	h2, .h2{
        font-size: 40px;
    }
    h3, .h3{
        font-size: 16px;
    }
}
@media only screen and (max-device-width: 750px) and (orientation: landscape){

    h3, .h3{
        font-size: 16px;
    }   
    h2, .h2{
        font-size: 25px;
    }

}

@media only screen and (min-device-width: 580px) and (max-device-width: 700px) (orientation: landscape){
    h3, .h3{
        font-size: 16px;
    }


}