.input-bar{
	display: table;
	table-layout: fixed;
	width: 100%;
}

.input-bar__cell{
	display: table-cell;
	vertical-align: top;

	padding-right: 3%;
}

.input-bar__cell:last-child{
	padding-right: 0;
}

