.input{
	padding: 13px 20px 15px;
	border: 1px solid transparent;
	outline:0;
	color: $grey-checkbox;
	font-size: 16px;
	background-color: $input-bg;
}

.input_line{
	margin-bottom: 8px;
}

.input_block{
	width: 100%;
	display: block;
}

input:invalid,
input.input_error,
.error .input,
.input.error,
input:focus:invalid,
.input_error:focus,
.error .input:focus{
	border: 1px solid $red!important;
	background: $input-bg-err!important;
}

.input-file_hidden{
	display: none;
}

.input_label{
	display: block;
	white-space: nowrap;
}

.input_textarea{
	height: 129px;
	resize: none;
}

.input_container{
	position: relative;
}

.input_msg{
	font-size: 12px;
	color: $red;
}
.input--line{
	display: inline-block;
	width: calc(50% - 20px);
		&:first-child{
			margin-right: 35px;
		}
}
input:checked + .account-checkbox__label,
.checkbox:hover input:checked + .account-checkbox__label{
	background:  none;
		&:after{
			content: '';
			position: absolute;
			top: 14px;
			right: 8px;
			width: 14px;
			height: 15px;
			color: $btn-blue;
			font-weight: bold;
			background: url('../images/check-blue.png') no-repeat;
		}
}
.checkbox__label_account{
	line-height: 20px;
	background-position: 0px 1px;
	padding-left: 35px;
}
#upload-input,
#upload-input2{
	position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -1;
}

@media (max-width: $trig-sm-width){
	.input{
		font-size: 12px;
		padding: 9px 14px;
	}
	.input_textarea{
		height: 113px;
	}
	
}
@media (max-width: 550px){
	.input--line{
		display: block;
		width: 100%;
	}
	.input--line:first-child{
		margin: 0;
	}
	
}