/*========== TABS ===========*/
.tabs__list{
	clear: fix;
	padding: 0 0 40px;

}
.tabs__list-item{
	float: left;
	width: 170px;
	border: 1px solid $grey-header;
	text-transform: uppercase;
	color: $grey-header;
	background: transparent;
	border-right: none;
	padding: 14px 5px 13px;
	list-style: none;
	text-align: center;
	font-family: 'ProximaNovaBold', sans-serif;
	cursor: pointer;
	transition: color .25s ease-out;
		&.active{
			background: $grey-header;
			color: $white;
		}
		&:last-child{
			border-right: 1px solid $grey-header;
		}
		&:hover{
			color: #8e8d8d;
			transition: color .25s ease-out;
		}
}
.tabs__content{
	display: none;
	padding: 25px 0 0;
		&.active{
			display: block;
		}
}
@media (max-height: $trig-lg-height), (max-width: $trig-lg-width){
	.tabs__list{
		padding: 0;
	}
	.tabs__list{
		margin-bottom: 30px;
	}
}
@media (max-width: 650px){
	.tabs__list{
		width: 100%;
	}
	.tabs__list-item{
		/* padding: 11px 0; */
		font-size: 13px;
		width: 33.333333%;
	}
	.tabs__list{
		margin-bottom: 5px;
	}
}
@media (max-width: 320px){
	.tabs__list-item{
		font-size: 12px;
	}
}