<!-- begin 	popup  -->
<div class="popup" id="activatePopup">
	<div class="popup__header popup__header_upper">
		<a href="javascript:void(0)" class="close popup__close"></a>
	</div>
	<div class="popup__header popup__header_upper text-center">
		<img src="res/images/check.svg" alt="" class="popup__check">
	</div>
	<div class="popup__content ">
		<div class="text-left popup__block">
			<div class="popup__header popup__header_top">
				УСПЕШНАЯ АКТИВАЦИЯ
			</div>
			<div class="popup__subcaption">
				Вы активировали ключ, для тестовой верисии игры LifeRace
			</div>
		</div>
		<!-- begin 	popup__block -->
		<div class="popup__block">
			<div class="text-center">
				<button id="downloadTrigger" class="button button_red button_sm">СКАЧАТЬ</button>
			</div>
		</div>
		<!-- end 	popup__block -->
	</div>
</div>
<!-- end 	popup -->