<!-- begin 	popup  -->
<div class="popup account__popup" id="emailErr">
	<div class="popup__header popup__header_upper text-center">
		<img src="res/images/close.svg" alt="" class="popup__check">
		<a href="javascript:void(0)" class="close popup__close"></a>
	</div>
	<div class="popup__content ">
		<div class="text-left">
			<div class="popup__header popup__header_top">
				ОШИБКА ПОДТВЕРЖДЕНИЯ ПОЧТЫ 
			</div>
			<div class="popup__subcaption">
				К сожалению, Ваша ссылка подтверждения  <br>дополнительной почты не акктуальна. Пожалуйста <br> повторите отправку письма с новой ссылкой <br> подтверждения дополнительного email.
			</div>
		</div>
	</div>
</div>
<!-- end 	popup -->