<!-- begin 	popup  -->
<div class="popup" id="repeatEmail">
	<div class="popup__header popup__header_top">
		<a href="javascript:void(0)" class="close popup__close"></a>
	</div>
	<div class="popup__content ">
		<div class="popup__subcaption">
			<!-- confirm wrapper -->
			<div class="">
				<div class="text-left">
						<p class="confirm-reg__discr">Вы хотите повторно отправить письмо со ссылкой для подтверждение новой почты?</p>
						<div class="confirm-reg-buttons pass-reset__line">
							<a href="#" class="button button_tr-silver confirm-send" data-input="ex">
								да
							</a>
							<a href="#" class="button button_tr-silver popup__close2">
								нет
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- confirm wrapper end -->
		</div>
	</div>
</div>
<!-- end popup -->