<!-- begin 	popup  -->
<div class="popup account__popup" id="changePassScs">
	<div class="popup__header popup__header_upper">
		<a href="javascript:void(0)" class="close popup__close"></a>
	</div>
	<div class="popup__content">
		<div class="text-center popup__block">
			<img src="res/images/check.svg" alt="" class="popup__check">
			<div class="popup__header popup__header_top">
				ПАРОЛЬ УСПЕШНО ИЗМЕНЕН
			</div>
		</div>
	</div>
</div>
<!-- end 	popup -->