<!-- PUSH MENU -->
<div class="push-menu">
	<a href="javascript:void(0);" class="lines-button--open close-push push-btn">
	 	<span class="push-btn__lines_close"></span>
	</a>
	<div class="push-menu__inner">
		<ul class="push-menu__list">
			<li class="push-menu__item"><a href="news.html" class="push-menu__link">новости</a></li>
			<li class="push-menu__item"><a href="media_page.html" class="push-menu__link">медиа</a></li>
			<li class="push-menu__item"><a href="media_page.html" class="push-menu__link">форум</a></li>
			<li class="push-menu__item"><a href="roadmap.html" class="push-menu__link">roadmap</a></li>
			<li class="push-menu__item"><a href="faq.html" class="push-menu__link">faq</a></li>
			<li class="push-menu__item"><a href="javascript:void(0)" class="push-menu__link js-popup" data-name="loginPopup">вход</a></li>
			<li class="push-menu__item"><a href="javascript:void(0)" class="push-menu__link js-popup" data-name="regPopup">создать аккаунт</a></li>
		</ul>
		<div class="social-group">
			<a target="_blank"  href="http://vk.com/public119842616" class="social2__link">
				<svg xmlns="http://www.w3.org/2000/svg" class="social2__icon" viewBox="0 0 53.82 53.82"><defs></defs><circle class="cls-1" cx="26.91" cy="26.91" r="26.41"/><path class="cls-2" d="M26.68 35.2h1.57a1.33 1.33 0 0 0 .72-.31 1.15 1.15 0 0 0 .22-.69s0-2.11.95-2.42 2.21 2 3.52 2.94a2.49 2.49 0 0 0 1.75.53h3.52s1.84-.11 1-1.56a11.75 11.75 0 0 0-2.62-3c-2.21-2-1.91-1.72.75-5.26 1.62-2.16 2.26-3.47 2.06-4s-1.38-.4-1.38-.4h-4a.9.9 0 0 0-.51.09 1.1 1.1 0 0 0-.35.42 23 23 0 0 1-1.46 3.09c-1.76 3-2.47 3.15-2.76 3-.67-.43-.5-1.74-.5-2.67 0-2.9.44-4.11-.86-4.42a6.77 6.77 0 0 0-1.85-.18 8.54 8.54 0 0 0-3.29.34c-.45.22-.8.71-.59.74a1.78 1.78 0 0 1 1.17.59 3.82 3.82 0 0 1 .39 1.79s.23 3.42-.54 3.84c-.53.29-1.27-.3-2.84-3a25.27 25.27 0 0 1-1.41-2.93 1.18 1.18 0 0 0-.33-.44 1.64 1.64 0 0 0-.61-.25h-3.76a1.28 1.28 0 0 0-.77.26.82.82 0 0 0 0 .67s2.95 6.89 6.28 10.37a9 9 0 0 0 6.53 3z"/></svg>
			</a>
			<a target="_blank"  href="#" class="social2__link">
				<svg class="social2__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53.82 53.82"><circle cx="26.91" cy="26.91" r="26.41" class="cls-1"/><path class="cls-2" d="M27.25,27.31a6.47,6.47,0,1,0-6.41-6.48A6.46,6.46,0,0,0,27.25,27.31Zm0.05-9.63a3.16,3.16,0,1,1-3.17,3.2A3.15,3.15,0,0,1,27.3,17.68Z" transform="translate(-0.39 -0.25)"/><path  class="cls-2" d="M33,27.31a2.62,2.62,0,0,0-.94.48,8.68,8.68,0,0,1-9.62-.09A3.22,3.22,0,0,0,22,27.44,1.59,1.59,0,0,0,20.19,30c0.17,0.16.37,0.31,0.56,0.46A9.92,9.92,0,0,0,26,32.38l-0.33.35L21.36,37.1a1.61,1.61,0,0,0-.54,1.07,1.74,1.74,0,0,0,1,1.6,1.42,1.42,0,0,0,1.72-.31c1.14-1.12,2.28-2.26,3.39-3.41,0.28-.29.43-0.35,0.75,0,1.09,1.14,2.22,2.24,3.33,3.35a1.59,1.59,0,0,0,1,.53,1.74,1.74,0,0,0,1.63-1,1.46,1.46,0,0,0-.33-1.72c-1.47-1.48-2.94-3-4.41-4.43l-0.34-.37a13.16,13.16,0,0,0,3.18-.71,7.77,7.77,0,0,0,2.8-1.81,1.42,1.42,0,0,0,.1-1.88A1.47,1.47,0,0,0,33,27.31Z" transform="translate(-0.39 -0.25)"/></svg>
			</a>
			<a target="_blank"  href="https://www.facebook.com/LifeRace-495915677281364" class="social2__link">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53.82 53.82" class="social2__icon"><defs></defs><circle class="cls-1" cx="26.91" cy="26.91" r="26.41"/><path class="cls-2" d="M32.9 27.87v-4.8h-4.8v-1.91a1.17 1.17 0 0 1 .92-1.29h3.88v-4.8h-3.88c-3 0-5.4 2.9-5.4 6.13v1.87H20.1v4.8h3.53v10.88h4.48V27.87h4.8z"/></svg>
			</a>
			<a target="_blank"  href="#" class="social2__link">
				<svg class="social2__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53.82 53.82"><defs></defs><circle class="cls-1" cx="26.91" cy="26.91" r="26.41"/><path class="cls-2" d="M40.58 21.33a6 6 0 0 0-1.11-2.77 4 4 0 0 0-2.8-1.18c-3.9-.28-9.76-.28-9.76-.28s-5.86 0-9.76.28a4 4 0 0 0-2.8 1.18 6 6 0 0 0-1.11 2.77 42.17 42.17 0 0 0-.28 4.52v2.16a42.17 42.17 0 0 0 .28 4.52 6 6 0 0 0 1.11 2.77 4.73 4.73 0 0 0 3.08 1.19c2.23.21 9.49.28 9.49.28s5.86 0 9.77-.29a4 4 0 0 0 2.8-1.18 6 6 0 0 0 1.11-2.77 42.24 42.24 0 0 0 .28-4.52v-2.12a42.24 42.24 0 0 0-.3-4.56zm-16.55 9.2v-7.84l7.54 3.93z"/></svg>
			</a>
			<a target="_blank"  href="#" class="social2__link">
				<svg class="social2__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53.82 53.82"><defs></defs><circle class="cls-1" cx="26.91" cy="26.91" r="26.41"/><path class="cls-2" d="M14.94 30.85v-7.84a1.59 1.59 0 0 0 0-.22 12.78 12.78 0 0 1 .3-2.75 6.11 6.11 0 0 1 3.64-4.36 9.14 9.14 0 0 1 3.31-.63l.75-.05h8.1c.76.07 1.54.07 2.29.21a6.13 6.13 0 0 1 5.18 4.83 14.87 14.87 0 0 1 .31 3.58v7a16.28 16.28 0 0 1-.22 2.74 6.12 6.12 0 0 1-4.82 5.16 14.64 14.64 0 0 1-3.56.31h-7.47a11.66 11.66 0 0 1-2.8-.3 6.11 6.11 0 0 1-4.31-3.57 9.08 9.08 0 0 1-.66-3.37c.01-.24-.02-.49-.04-.74zm21.79-3.94v-3s-.06-1.88-.15-2.82a4.25 4.25 0 0 0-1-2.43 4.38 4.38 0 0 0-3.17-1.44c-1.41-.09-2.83-.11-4.24-.12s-2.78 0-4.18 0c-.94 0-1.88.06-2.82.15a4.25 4.25 0 0 0-2.43 1 4.38 4.38 0 0 0-1.44 3.17c-.09 1.41-.11 2.83-.12 4.24s0 2.78 0 4.18c0 .94.06 1.88.15 2.82a4.25 4.25 0 0 0 1 2.43 4.38 4.38 0 0 0 3.17 1.44c1.41.09 2.83.11 4.24.12s2.79 0 4.18 0a24 24 0 0 0 3.09-.21 3.9 3.9 0 0 0 3.39-3 7.88 7.88 0 0 0 .25-1.75c.04-1.56.05-3.17.12-4.78z"/><path class="cls-2" d="M33.06 26.91a6.15 6.15 0 1 1-6.14-6.15 6.14 6.14 0 0 1 6.14 6.15zm-10.13 0a4 4 0 1 0 4-4 4 4 0 0 0-4 4zM34.77 20.54a1.44 1.44 0 1 1-1.44-1.45 1.44 1.44 0 0 1 1.44 1.45z"/></svg>
			</a>
			<a target="_blank"  href="#" class="social2__link">
				<svg class="social2__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53.82 53.82"><defs></defs><circle class="cls-1" cx="26.91" cy="26.91" r="26.41"/><path class="cls-2" d="M39.85 18.88a10.61 10.61 0 0 1-3 .84 5.32 5.32 0 0 0 2.33-2.94 10.63 10.63 0 0 1-3.37 1.29 5.31 5.31 0 0 0-9 4.84 15.07 15.07 0 0 1-10.94-5.55 5.32 5.32 0 0 0 1.64 7.09 5.29 5.29 0 0 1-2.4-.66v.07a5.31 5.31 0 0 0 4.26 5.21 5.32 5.32 0 0 1-2.4.09 5.31 5.31 0 0 0 5 3.69 10.65 10.65 0 0 1-6.59 2.27 10.81 10.81 0 0 1-1.27-.07 15.1 15.1 0 0 0 23.25-12.72v-.69a10.79 10.79 0 0 0 2.49-2.76z"/></svg>
			</a>
			<a target="_blank"  href="#" class="social2__link">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.62 63.62" class="social2__icon"><circle cx="31.81" cy="31.81" r="30.81" class="cls-1"/><g id="Flat_copy" data-name="Flat copy"><path d="M35.85,15.24H25.91c-4.55,0-8.83,3.28-8.83,7.38a7.33,7.33,0,0,0,7.73,7.45c0.32,0,.63-0.08.94-0.1a4.14,4.14,0,0,0-.51,1.91,4.05,4.05,0,0,0,1.38,2.86H24.85c-5.63,0-10,3.69-10,7.51s4.75,6.12,10.39,6.12c6.42,0,10-3.75,10-7.51,0-3-.87-4.83-3.55-6.78C30.78,33.42,29,31.8,29,30.85c0-1.12.31-1.67,1.95-3a6.51,6.51,0,0,0,2.86-5.16c0-2.62-1.1-5.82-3.23-5.82h3.63Zm-3.34,25a5,5,0,0,1,.12,1.07c0,3-1.91,5.42-7.39,5.42-3.89,0-6.7-2.53-6.7-5.57s3.49-5.47,7.38-5.42a8.37,8.37,0,0,1,2.52.41C30.56,37.64,32.08,38.5,32.51,40.22ZM26.27,28.87c-2.61-.08-5.1-3-5.55-6.53s1.3-6.23,3.92-6.15,5.1,2.91,5.55,6.44S28.89,28.95,26.27,28.87Z" transform="translate(0 0)" class="cls-2"/><polygon points="43.91 28.48 43.91 23.52 40.68 23.52 40.68 28.48 35.85 28.48 35.85 31.8 40.68 31.8 40.68 36.77 43.91 36.77 43.91 31.8 48.74 31.8 48.74 28.48 43.91 28.48" class="cls-2"/></g></svg>
			</a>
		</div>
	</div>
</div>
<!-- PUSH MENU end -->