<!-- begin 	popup  -->
<div class="popup account__popup" id="emailChange">
	<div class="popup__header popup__header_upper text-center">
		<img src="res/images/mail.svg" alt="" class="popup__check">
		<a href="javascript:void(0)" class="close popup__close"></a>
	</div>
	<div class="popup__content ">
		<div class="text-left">
			<div class="popup__header popup__header_top">
				внимание
			</div>
			<div class="popup__subcaption">
				На введённый Вами Email-адрес отправлено письмо <br>
				со ссылкой, по которой Вы должны перейти, <br>
				чтобы подтвердить свою дополнительную почту.
			</div>
		</div>
	</div>
</div>
<!-- end 	popup -->