<!-- begin 	popup  -->
<div class="popup account__popup" id="uploadFile">
	<div class="popup__content ">
		<div class="text-left">
			<div class="popup__header popup__header_upper text-center">
				<img src="res/images/photo.svg" alt="" class="popup__check">
				<a href="javascript:void(0)" class="close popup__close"></a>
			</div>
			<div class="popup__header popup__header_upper">
				Загрузка новой фотографии
			</div>
			<div class="popup__subcaption">
				Вы можете загрузить изображение в формате jpg, gif или png. Если у Вас возникают проблемы с загрузкой, попробуйте выбрать фотографию меньшего размера.
			</div>
			<div class="form-group text-center win-msg-buttons">
				<form action="" method="" id="user-photo-form" name="user-photo-form">
					<div class="pass-reset__line">
					<label for="upload-input" id="upload-mask2" class="button_tr-grey button_sm  button"><span class="upload__text">Выбрать файл</span><input id="upload-input2" type="file" class="upload__input"></label>
					<div class="form-group">
						<button class="button_sm button button_red" type="submit">сохранить</button>
					</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- end 	popup -->
