<!-- cards-b start -->
<div class="row cycle">
	<!-- card column -->
	<div class="col-xs-4">
		<!-- card item -->
		<div class="card-item">
			<div class="card-item__bg"><img src="res/images/news/news_02.jpg" alt="" class="card-item__img"></div>
			<div class="card-item__descript">
				<div class="card-item__head">
					<h4 class="card-item__title">Новые модели автомобилей</h4>
				</div>
				<p class="text">Прокачай свою машину с помощью внешних и внутренних модификаций. К твоим услугам огромное количество деталей, которые сделают твое тачку быстрее и круче.</p>
			</div>
			<span class="card-item__date">
				<span class="star-icon"></span>
				<span class="star-icon"></span>
				<span class="star-icon"></span>
			</span>
			<a href="news_inner.html" class="card-item__link_more"></a>
		</div>
		<!-- card item end -->
	</div>
	<!-- card column end -->
	<!-- card column -->
	<div class="col-xs-4">
		<!-- card item -->
		<div class="card-item">
			<div class="card-item__bg"><img src="res/images/news/news_03.jpg" alt="" class="card-item__img"></div>
			<div class="card-item__descript">
				<div class="card-item__head">
					<h4 class="card-item__title">Добавлена новая карта</h4>
				</div>
				<p class="text">Прокачай свою машину с помощью внешних и внутренних модификаций. К твоим услугам огромное количество деталей, которые сделают </p>
			</div>
			<span class="card-item__date">15.05.2016</span>
			<a href="news_inner.html" class="card-item__link_more"></a>
		</div>
		<!-- card item end -->
	</div>
	<!-- card column end -->
	<!-- card column -->
	<div class="col-xs-4">
		<!-- card item -->
		<div class="card-item">
			<div class="card-item__bg"><img src="res/images/news/news_04.jpg" alt="" class="card-item__img"></div>
			<div class="card-item__descript">
				<div class="card-item__head">
					<h4 class="card-item__title">Технические  работы</h4>
				</div>
				<p class="text">Прокачай свою машину с помощью внешних и внутренних модификаций..</p>
			</div>
			<span class="card-item__date">15.05.2016</span>
			<a href="news_inner.html" class="card-item__link_more"></a>
		</div>
		<!-- card item end -->
	</div>
	<!-- card column end -->
</div>
<!-- cards end -->
<div class="cycle-pager" id='pager2'></div>
