<!-- HEADER -->
<header class="header">
	<div class="header__left">
		<h1 class="logo">
			<a href="/" class="logo__link">
				<img src="res/images/logo.svg" class="logo__img" alt="LIFERACE">
				<span class="logo__caption-text">LIFERACE</span>
			</a>
		</h1>
	</div>
	<!-- header menu start-->
	<nav class="header-menu">
		<ul class="header-menu__list text-right">
			<li class="header-menu__item"><a href="news.html" class="header-menu__link active">новости</a></li>
			<li class="header-menu__item"><a href="media_page.html" class="header-menu__link">медиа</a></li>
			<li class="header-menu__item"><a href="news.html" class="header-menu__link">форум</a></li>
			<li class="header-menu__item"><a href="roadmap.html" class="header-menu__link">roadmap</a></li>
			<li class="header-menu__item"><a href="faq.html" class="header-menu__link">faq</a></li>
			<li class="header-menu__item"><a href="#" class="header-menu__link login-enter__link js-popup" data-name="loginPopup">вход</a>
			<span class="divider"></span><a href="#" class="header-menu__link login-creat__link js-popup" data-name="questPopup">создать аккаунт</a></li>
		</ul>
		<!-- push buttons -->
		<div class="b-push-btn">
			<a href="javascript:void(0);" class="lines-button push-btn">
			 	<span class="push-btn__lines"></span>
			</a>
		</div>
		<!-- push buttons end -->
	</nav>
	<!-- header menu end-->
</header>
<!-- HEADER end-->