/*============= Extra page window ===============*/
.extra-p{
}
.extra-p-inner{
	width: 620px;
	position: relative;
	padding-top: 40px;
	margin: 0 auto;
	-ms-text-align-last: center;
	text-align: center;
	color: $grey-header;
	@mixin font-regular;
	border-bottom: 1px solid transparent;
	font-size: 24px;
}
.extra-p-logo{
	padding: 0 0 70px;
}
.extra-p-logo__img{
	max-width: 240px;
}

	.win-msg__text{
		font-size: 18px;
		margin: 35px 0;
	}
	.win-msg-buttons{
		width: 80%;
		margin: 65px auto 0;
	}
	.activate-msg .win-msg-buttons{width: 70%;}
	.win-msg,
	.win-msg-social,
	.win-msg__footer{
		border: 1px solid #6f6f6f;
		background: #2C2C2C;
	}
	.win-msg{
		padding: 45px 68px 75px;/*large size*/
		margin-bottom: 50px;
	}
	.win-msg__footer{
		padding: 30px 0;
	}
	.win-msg-social{
		padding: 0 0 20px; /*large size*/
		border-top: none;
			.popup__social-caption{
				@mixin font-main;
				font-size: 16px;
				color: $lr;
			}
	}
	.win-msg__title{
		color: #fff;
		font-size: 1.4em;
		margin-bottom: 45px;
		letter-spacing: .9px;
	}
	.win-msg-social__title{
		padding: 0 20px;
	}
	.win-msg-social__icons{
		margin: 30px 0 0;
	}
	.uppercase__text{
		font-size: 1.3em;
		letter-spacing: 1.2px;
		margin-left: .3em;
	}
	.win-msg__link:hover{
		text-decoration: none;
	}
	.win-msg-social .social__fb,
	.win-msg-social .social__vk,
	.win-msg-social .social__odn
	{
		margin: 0;
	}
.social__icon{
	width: 60px;
	height: 60px;
	display: inline-block;
	background: url('../images/social_sprite.png') no-repeat;
	background-position: 0 0;
	-webkit-background-size: cover;
	background-size: cover;
	opacity: .7;
}
.social__icon:hover{
	opacity: 1;
	transition: opacity .3s ease-out;
}
	.social__icon.social__odn{
		background-position: -64px 0;
	}
	.social__icon.social__vk{
		background-position: -130px 0;
	}

@media (max-width: 960px){
	.extra-p-inner{
		font-size: 18px;
	}
	.win-msg-social{
		padding: 30px 0 20px;
	}
	.win-msg-social__icons{
		margin: 20px 0 0;
	}
	.win-msg__title{
		margin-bottom: 30px;
	}
}
@media (max-width: 650px){
	.extra-p{
		padding-bottom: 30px;
	}
	.extra-p-inner{
		width: 100%;
	}
	.extra-p-logo__img{max-width: 160px;}
	.win-msg{
    	width: 87.5%;
    	padding: 20px 20px 60px;
    	margin: 0 auto;
	}
	.win-msg-buttons{
		width: 100%;
		margin: 30px auto 0;
	}
	.extra-p-logo{
		padding: 0 0 40px;
	}
}
@media (max-width: 400px){
	/* .extra-p-inner{width: 100%;} */
	.uppercase__text{margin-left: 0;}
	.win-msg-wrapper{position: relative;}
}
