/*================= MAIN PAGE =================*/
/*.popup:not(.popup_large),*/
/* .banners{
    margin-bottom: 40px;
} */
.b-feature{
    position: relative;
    clear: fix;
}
.bg--main{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
}
/*============ CONTENT ============*/


@media (max-width: 1360px)
{
    .bg--main
    {
        background-image: url(../images/bg-md.jpg);
    }
}


@media (max-width: 890px){
    .content__cool-input{margin-bottom: 105px;}
}

@media (max-width: 850px){
    .section-header__link{
        width: 230px;
    }
    .bg--main
    {
        background-image: url(../images/bg-sm.jpg);
    }
}
@media (max-width: 768px)
{

    .section-header__link{
        width: 230px;
    }

}
@media (max-width: 767px){
    .social__caption{
        display: none;
    }


}
@media (max-width: 750px){
    .section-header__link,
    .main-banner .button_block,
    .social-frames__banner{
        width: 100%;
    }
}
@media (max-width: 480px){
    .bg--main
     {
        background-image: url(../images/bg-xs.jpg);
     }
}
@media only screen and (max-device-width: 750px) and (orientation: landscape){

    .bg--main{
        background-image: url(../images/bg-sm-land.jpg);
    }

}
