/*=========== MEDIA PAGE =============*/
.screen-sm{
	/* height: 280px; */
	overflow: hidden;
	margin-bottom: 15px;
	overflow: hidden;
}
.screen-sm__img{
	/* max-height: 100%; */
	width: 100%;
	height: auto;
	transform: scale(1);
	transition: transform .35s ease-out;
		&:hover{
			transform: scale(1.2);
			transition: transform .35s ease-out;
		}
}