/*=========== NEWS INNER =============*/
.news-inner{
	background: #fff;
	color: #000;
}
.news-p__inner .card-item{
    margin-bottom: 30px;
}
.news-p__inner [class*="col"]:nth-child(3){
	clear: both;
}
@media (max-height: $trig-lg-height), (max-width: $trig-lg-width){
	.news-p__inner .card-item{
	    margin-bottom: 20px;
	}
}
@media (max-width: 750px){
	.news-p__inner [class*="col-xs"]{
		width: 100%
	}
}