/*========= PERSONAL ACC ==========*/
.acc__l,
.acc__r{
	min-height: 400px;
	border: 1px solid $grey;
	float: left;
}
.acc__l{
	width: 32%;
    margin-right: 2em;
    padding: 2% 0 6%;
    text-align: center;
}
.acc__r{
	width: 65%;
	padding: 2% 4% 8%;
}
.acc__title{
	@mixin font-e-bold-i;
    font-size: 28px;
    margin-top: 35px;
    text-transform: uppercase;
    color: $grey-text;
}
.acc__input-title{
	font-size: 12px;
	@mixin font-main;
	margin-bottom: 10px;
}
/*======== ACC FORM ========*/

.input-group{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
#acc-form{
	@mixin font-regular;
	margin: 35px 0;
	clear: fix;
		.form-group{
			margin-top: 25px;

		}
}
.acc-form-inputs{
	width: 485px;
}
.acc__avatar-b{
	position: relative;
    width: 279px;
    height: 279px;
	border-radius: 50%;
	margin: 40px auto 0;
	border:  1px solid $grey;
	overflow: hidden;
	text-align: center;
}
.acc__avatar-img{
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.acc__user-name{
	font-size: 28px;
	margin-top: 80px;
	text-transform: uppercase;
	font-weight: bold;
	@mixin font-e-bold-i;
}
.acc-btn{
	display: inline-block;
	text-decoration: none;
	color: $btn-blue;
		&:hover{
			text-decoration: underline;
		}
}
.acc__avatar-btn{
	position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    width: 55px;
    height: 55px;
    margin: auto;
    background: url('../images/add_photo.svg') no-repeat;
		}
.acc__btn{
	outline: none;
	font-size: 14px;
	float: right;
	
	width: 160px;
	margin-left: 20px;
	
	@mixin trans-custom .25s;
		&:hover{
			@mixin link-static;
			background: $grey;
			color: #fff;
			@mixin trans-custom 0.25s;
		}
		.plus{
			position: relative;
			padding-left: 20px;
				&:before{
					content: '+';
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					font-size: 28px;
				}			
		}

}
.acc-input{
	width: 62%;
	border: none;
	background: $grey;
	padding: 15px 20px;
	font-size: 18px;
	color: $grey-checkbox;
		&:focus,
		&:active{
			outline: none;
		}
		&::-webkit-input-placeholder {color:$placeholder;}
		&::-moz-placeholder          {color:$placeholder;}/* Firefox 19+ */
		&:-moz-placeholder           {color:$placeholder;}/* Firefox 18- */
		&:-ms-input-placeholder      {color:$placeholder;}
}
.input_read-only{
	width: 100%;
	background: $grey;
	padding: 15px 20px;
		&:focus,
		&:active{
			outline: none;
			
		}
}
.acc-checkbox__label{
	width: 100%;
	height: 40px;
	line-height: 40px;
	position: relative;
	display: inline-block;
	padding: 0;
	background:  none;
		&:before{
			content: '';
			position: absolute;
			top: 11px;
			right: 3px;
			width: 21px;
			height: 20px;
			border: 1px solid $grey-checkbox;
			
		}


}
#acc-email-new{
	font-size: 16px;
}

.mail_spam{
	padding: 40px;
	margin-bottom: 70px;
	border:  1px solid $grey;
		&.disactive{
			border: 1px solid $red;
		}
}
.b-pers-info{
	margin: 40px 0 70px;
}
.pers-info__line{
	display: flex;
	justify-content: flex-start;
	padding: 20px 0 19px;
	color: #8A8A8A;
	border-top: 1px solid #3e3e3e;
	text-align: left;
	@mixin font-main;
	transition: color .25s ease-out;
		&:last-child{
			border-bottom: 1px solid #3e3e3e;
		}
		a{
			text-decoration: none;
				&:hover{
					color: #fff;
					transition: color .25s ease-out;
				}
		}

}
.pers-info__label{
	width: 50%;
	padding-left: 15px;
}
.pers-info__item{
	width: 50%;
}
@media (max-height: $trig-lg-height), (max-width: $trig-lg-width){
	.acc__l{
		margin-right: 1em;
	}
}
@media (max-width: 960px){
	.acc__avatar-b,
	.acc-form-inputs{
		margin: 0 auto 30px;
	}
}
@media (max-width: 1100px){
	.acc__l{
		min-height: 280px;
	}
	.acc__user-name{
		margin: 35px auto 0;
		max-width: 240px;
	}
	.acc__avatar-b{
		width: 146px;
    	height: 146px;
	}
	.acc-form-inputs{
		width: auto;
	}
}
@media (max-width: 980px){
	.acc-input{
		width: 100%;
	}
	.acc__btn{
		margin: 20px 0 0;
		float: right;
	}
	.input-group{
		display: block;
		clear: fix;
	}
	#acc-form{
		margin: 0 0 10px;
	}
	.acc__l{
		padding: 5% 0;
	}
	.acc__avatar-btn{
		width: 33px;
		height: 33px;
	}
	.acc__title{
		margin-top: 15px;
	}
}
@media (max-width: 600px){
	#acc-form{
		margin: 10px 0;
	}
	.acc__l,
	.acc__r{
		width: 100%;
	}
	.acc__l{
		margin-bottom: 20px;
		min-height: 215px;
    	display: flex;
    	justify-content: flex-start;
    	align-items: center;
    	padding: 0;
    	padding: 0 40px;
	}
	.acc__avatar-img,
	.acc__avatar-b{
		margin: 0;
	}
	.acc__user-name{
		margin:0 0 0 20px;
		max-width: 180px;
	}
	.mail_spam{
		padding: 30px 15px;
	}
}
@media (max-width: 440px){
	.acc__l{
		min-height: 125px;
	}
	.acc__user-name{
		font-size: 16px;
	}
	.acc__avatar-btn{
		width: 25px;
		height: 25px;
		bottom: 5px;
	}
	.acc__btn{
		width: 100%;
	}
	.acc__title{
		font-size: 18px;
	}
	#acc-form .form-group{
		margin-top: 20px;
	}
	.acc__avatar-b{
		width: 77px;
    	height: 77px;
	}
}