/* presskit
============================*/
.pkit{
	margin-top: 30px;
}
.pkit-l,
.pkit-r{
	float: left;
	padding: 0 15px;
}
.pkit-l{
	width: 32%;
	font-size: 24px;
}
.pkit-r{
	width: 64%;
	margin-left: 1%;
}
.pkit-r h2:first-child{
	margin-top: 0;
}
.pkit-info_sm{
	border-top: 1px solid $grey-border;
	padding: 23px 0;
		a{
			transition: color .25s ease-out;
		}
		a:hover{
			color: $lr;
			transition: color .25s ease-out;
		}
}
.pkit-info_sm__title{
	display: block;
	text-transform: uppercase;
	@mixin font-e-bold-i;
}
.pkit-info_sm__sub-title{
	display: block;
	text-decoration: none;
	margin-top: 5px;
	@mixin font-regular;
}
.pkit-info__social{
	margin-bottom: 10px;
		.social-icons{
			margin-top: 15px;
		}
}
.dwnld-file{
	position: relative;
	width: calc(25% - 10px);
	float: left;
	margin: 0 10px 30px 0;
	border: 1px solid #898989;
	padding: 15px 25px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/* margin: 30px; */
	color: $lr;
	@mixin font-regular;
	background: transparent;
	transition: all .25s ease-out;
		&:last-child{
			margin-right: 0;
		}
		&:hover{
			background: rgba(255, 255, 255, .15);
		}		
		.cls-1,
		.cls-2,
		.cls-3,
		.cls-4
		{
			stroke: $lr;
			transition: all .25s ease-out;
		}		
		&:hover .cls-1,
		&:hover .cls-2,
		&:hover .cls-3,
		&:hover .cls-4
		{
			stroke: $lr;
			transition: all .25s ease-out;
		}

}
.dwnld-file__l{
	margin-right: 20px;
	line-height: 0;
}
.dwnld-file__title{
	text-decoration: none;
	display: block;
	color: $lr;

}
.dwnld-file__sub-title{
	color: $grey-border;
}
.dwnld-file__link{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.pkit-extra{
	padding-top: 165px;
}
@media (max-width: 1100px){
	.dwnld-file{
		width: calc(50% - 15px);
		margin: 0 30px 30px 0;
		height: 110px;
			&:nth-child(2n){
				margin-right: 0;
			}
	}
}
@media (max-width: 850px){
	.pkit-l,
	.pkit-r{
		width: 100%;
		margin: 0;
	}
	.pkit-r{
		margin-top: 10px;
	}
	.pkit-info__social .social_md{
		justify-content: flex-start;
			a{
				margin-right: 10px;
			}
	}
	.dwnld-file{
		font-size: 18px;
	}
	.pkit-extra{
		padding-top: 40px;
	}
}
@media (max-width: 760px){
	.dwnld-file{
		width: 100%;
			&:nth-child(2n){
				margin-right: 0;
			}
	}

}
@media (max-width: 500px){
	.pkit-info__social .social_md{
		justify-content: space-around;
			a{
				margin-right: 0;
			}
	}
	.pkit-l{
		font-size: 18px;
	}
	.pkit-info_sm{
        padding: 15px 0;
    }
    .pkit-extra{
    	padding-top: 20px;
    }
    .dwnld-file{
    	margin:  0 0 20px 0;
    }
}
@media (max-height: $trig-lg-height), (max-width: $trig-lg-width){
/* 	.pkit-l{
		font-size: 20px;
	} */
	.pkit{
		margin-top: 25px;
	}
}
