/*=========== ROADMAP ===========*/
.accordion__item{
	@mixin font-regular;
    position: relative;
    border: 1px solid $grey-header;
    border-bottom: none;
    background: #000;
    -webkit-transition: background .2s, color .2s;
            transition: background .2s, color .2s;
            &:hover{
            	background: #1a1a1a;
            }
            &:last-child{
            	border-bottom: 1px solid $grey-header;
            }
            &.qa__opened{
            	background: #1a1a1a;
            }
}
.opened{
    .accordion__content{
        opacity: 1;
		transition: opacity .35s ease-out;
    }
}
.accorion__head{
	font-family: 'ProximaNovaBlackItalic';
	padding: 57px 60px;
}
.progress-bar{
	position: relative;
	height: 40px;
	margin-top: 40px;
	background: #2c2c2c
}
.progress-bar__inner{
	width: 100%;
	height: 40px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
}
.progress-bar__success{
	position: absolute;
	display: block;
	width: 0;
	height: 100%;
	background: $red;
	line-height: 40px;
	font-size: 24px;
	color: #fff;
	text-align: right;
	@mixin font-regular;
	padding-right: 20px;
}
.progress-bar__success-num{
	display: block;
	position: absolute;
	width: 100%;
	text-align: center;
	color: #fff;
	@mixin font-regular;
}
.accordion__toggle{
	display: block;
	position: absolute;
	right: 60px;
	top: 60px;
}
.accordion__content {
	padding: 25px 60px;
		p{
			width: 86%;
		}
	
}
.accordion__content-img{
	margin: 40px 0 10px;
}
.roadmap__img{
	width: 100%;
	height:  auto;
}
.roadmap__img-link{
	display: block;
	width: 100%;
	overflow: hidden;
}

@media (max-width: 1024px){
	.accorion__head,
	.accordion__content{
		padding: 42px 35px;
	}
	.accordion__toggle {
		top: 42px;
		right: 35px;
	}
	.progress-bar__inner,
	.progress-bar{
		height: 32px;
	}
	.progress-bar__success{
		line-height: 32px;
		font-size: 18px;
	}


}
@media (max-width: 850px){
	.accorion__head .qa__header-text{
		max-width: 80%;
	}
	.accordion__content-img{
		margin: 0px 0 10px;
	}
}
@media (max-width: 580px){
	.accorion__head,
	.accordion__content{
		padding: 30px 20px;
	}
	.accordion__content{
		padding: 20px;
			p{
				width: 100%;
			}
	} 

	.accordion__toggle{
		top: 30px;
		right: 10px;
	}
	.progress-bar{
		margin-top: 25px;
	}
	.progress-bar__success{
		font-size: 16px;
	}
	.accordion__content-img{
		margin: 0;
	}
}