/*============== FEEDBACK ==============*/
.feedback-form{
    display: block;
    position: relative;
    width: 45%;
    border-bottom: none;
    margin: 0 auto;
    z-index: 2;
    margin-top: 50px;

}
.feedback-form .popup__header_upper{
    font-size: 1.6em;
    text-align: left;
    text-transform: uppercase;
}
.feedback__textarea{
    height: 50px;
    max-width: 100%;
    min-width: 100%;
    resize: none;
    overflow: hidden;
    transition: height .2s cubic-bezier(.7, 0, .3, 1);
    -webkit-transition: height .2s cubic-bezier(.7, 0, .3, 1);
}
    .feedback__textarea:invalid{
        border-color: #bf0000;
        background: rgba(191,0,0,.07);
    }
    .cool-input--filled .feedback__textarea{
        height: 150px;
        overflow: auto;
        -webkit-transition: opacity 0s .4s cubic-bezier(.7, 0, .3, 1), height .4s cubic-bezier(.7, 0, .3, 1);
        transition: opacity 0s .4s cubic-bezier(.7, 0, .3, 1), height .4s cubic-bezier(.7, 0, .3, 1);
    }
    .textarea__label_text{
        position: absolute;
        top: 48px;
        transition: all .4s cubic-bezier(.7, 0, .3, 1);
        -webkit-transition: all .4s cubic-bezier(.7, 0, .3, 1);
    }
    .textarea__label{
        position: absolute;
        top: 0;
    }
    .cool-input--filled .textarea__label_text{
        top: 49px;
        transition: all .4s cubic-bezier(.7, 0, .3, 1);
        -webkit-transition: all .4s cubic-bezier(.7, 0, .3, 1);
    }
    .cool-input--filled.cool-texarea--nariko .cool-input__label-content--nariko{
        -webkit-transform: translate3d(0, -2.7em, 0) scale3d(.75, .75, 1)!important;
        transform: translate3d(0, -2.7em, 0) scale3d(.75, .75, 1)!important;
    }
.popup__button{
    transition: all .3s ease-out;
}
.feedback__block{
    margin-bottom: 58px;
}
.sent-success{
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 630px;
    background: #2C2C2C;
    color: #fff;
    z-index: 9999;
    padding: 120px 40px;
    border-bottom: none;
}
    .sent-success .close{
        top: 20px;
        right: 20px;
    }
    .sent-success__msg{
        margin: 45px 0 20px;
        letter-spacing: 2px;
        font-size: 25px;
        font-family: 'ProximaNovaExtraboldItalic';
        color: #4E4E4E;
    }
    .sent-success__sub-msg{
        margin: 0 0 75px;
        font-size: 18px;
        font-family: 'ProximaNovaSemiboldItalic';

    }
    .sent-success__back__link{
        font-weight: normal;
        padding: 15px 40px 15px 40px;
        border: 1px solid #fff;
    }
    .feedback__popup{
        position: fixed;
        border: none;
        display: none;
        background: transparent;
        width: 48%;
        max-width: 700px;
    }
.sent-success__img{
    max-width: 160px;
}


@media (max-width: 1400px){
    .sent-success{padding: 70px;}
}
@media (max-width: 1200px){
    .feedback-form{width: 70%;}
    .feedback-form .popup__header_upper{font-size: 1.2em;}
    .feedback__popup{width: 70%;}
    .sent-success{padding: 40px;}

}
@media (max-width: 850px){
    .feedback__textarea{
        height: 35px;
        max-width: 100%;
        min-width: 100%;
    }
    .textarea__label_text{top: 34px;}
}
@media (max-width: 800px){
    .feedback-form{width: 80%;}
    .feedback__popup{width: 90%;}
    .sent-success{padding: 40px;margin: 0 auto;}
}
@media (max-width: 700px){
    .feedback-form .popup__header_upper{font-size: .9em;}

}
@media (max-width: 800px){
    .sent-success{padding: 25px;}
}
@media (max-width: 480px){
    .wrapper.bg-active{
        background-image: url(../images/bg-02-xs.jpg);
    }
    .content__cool-input
    {
        margin-bottom: 335px;
    }
}
@media (max-width: 400px){
        .content__cool-input
    {
        margin-bottom: 250px;    }
}

@media (max-width: 330px){
    .content__cool-input
    {
        margin-bottom: 160px;
    }
}
