<!-- begin 	popup  -->
<div class="popup" id="loginPopup">
	<div class="popup__header popup__header_upper">
		ВХОД
		<a href="javascript:void(0)" class="close popup__close"></a>
	</div>
	<div class="popup__content">
		<form action="/" id="loginForm" method="POST">
		<!-- begin 	popup__block -->
		<div class="popup__block popup__block_inputs">
			<!-- begin 	cool-input__container -->
			<div class="cool-input__container">
				<div class="cool-input cool-input--nariko">
					<input class="input cool-input__field cool-input__field--nariko input-email" type="email" id="input-email-login" name="email" value="" />
					<label class="cool-input__label cool-input__label--nariko" for="input-email-login">
						<span class="cool-input__label-content cool-input__label-content--nariko">Ваш e-mail</span>
					</label>
				</div>
				 <div id="error-input-email-login" class="input_msg cool-input__msg" style="display: none;">Ошибка ввода информации</div>
			</div>
			<!-- end cool-input__container -->
			<!-- begin 	cool-input__container -->
			<div class="cool-input__container">
				<div class="cool-input cool-input--nariko">
					<input class="input cool-input__field cool-input__field--nariko input-password" type="password" id="input-password-login" name="password" value="" />
					<label class="cool-input__label cool-input__label--nariko" for="input-password-login">
						<span class="cool-input__label-content cool-input__label-content--nariko">Пароль</span>
					</label>
				</div>
				 <div id="error-input-password-login" class="input_msg cool-input__msg" style="display: none;">Ошибка ввода информации</div>
			</div>
			<!-- end cool-input__container -->
		</div>
		<!-- end popup__block -->
		<!-- begin 	popup__block -->
		<div class="popup__block">
			<div class="checkbox input_line pass-reset__line">
					<input type="checkbox" name="rememberPass" id="rememberPass" class="checkbox__input">
					<label for="rememberPass" class="checkbox__label">Запомнить пароль</label>
					<a href="#" class="reset-pass__link js-popup" data-name="resetPass">Забыли пароль?</a>
			</div>
			<div class="error-placement"></div>
		</div>
		
		<!-- end 	popup__block -->
		<!-- begin 	popup__block -->
		<div class="	popup__block">
			<div class="pass-reset__line">
				<button type="button" class="button_red popup__button button_md button--submit" data-name="login">вход на сайт</button>
				<button type="button" class="button_tr-silver popup__button button_md js-popup" data-name="questPopup">регистрация</button>
			</div>
		</div>
		<!-- end 	popup__block -->
		</form>
		<!-- begin 	popup__social -->
		<div class="popup__social">
			<div class="popup__social-caption">
				Войдите через социальные сети
			</div>
			<div class="popup__social-buttons">
				<ul class="text-center">
					<li class="social2__item">
						<a target="_blank"  href="http://vk.com/public119842616" class="social2__link">
							<svg xmlns="http://www.w3.org/2000/svg" class="social2__icon" viewBox="0 0 53.82 53.82"><defs></defs><circle class="cls-1" cx="26.91" cy="26.91" r="26.41"/><path class="cls-2" d="M26.68 35.2h1.57a1.33 1.33 0 0 0 .72-.31 1.15 1.15 0 0 0 .22-.69s0-2.11.95-2.42 2.21 2 3.52 2.94a2.49 2.49 0 0 0 1.75.53h3.52s1.84-.11 1-1.56a11.75 11.75 0 0 0-2.62-3c-2.21-2-1.91-1.72.75-5.26 1.62-2.16 2.26-3.47 2.06-4s-1.38-.4-1.38-.4h-4a.9.9 0 0 0-.51.09 1.1 1.1 0 0 0-.35.42 23 23 0 0 1-1.46 3.09c-1.76 3-2.47 3.15-2.76 3-.67-.43-.5-1.74-.5-2.67 0-2.9.44-4.11-.86-4.42a6.77 6.77 0 0 0-1.85-.18 8.54 8.54 0 0 0-3.29.34c-.45.22-.8.71-.59.74a1.78 1.78 0 0 1 1.17.59 3.82 3.82 0 0 1 .39 1.79s.23 3.42-.54 3.84c-.53.29-1.27-.3-2.84-3a25.27 25.27 0 0 1-1.41-2.93 1.18 1.18 0 0 0-.33-.44 1.64 1.64 0 0 0-.61-.25h-3.76a1.28 1.28 0 0 0-.77.26.82.82 0 0 0 0 .67s2.95 6.89 6.28 10.37a9 9 0 0 0 6.53 3z"/></svg>
						</a>
					</li>
					<li class="social2__item">
						<a target="_blank"  href="#" class="social2__link">
							<svg class="social2__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53.82 53.82"><circle cx="26.91" cy="26.91" r="26.41" class="cls-1"/><path class="cls-2" d="M27.25,27.31a6.47,6.47,0,1,0-6.41-6.48A6.46,6.46,0,0,0,27.25,27.31Zm0.05-9.63a3.16,3.16,0,1,1-3.17,3.2A3.15,3.15,0,0,1,27.3,17.68Z" transform="translate(-0.39 -0.25)"/><path  class="cls-2" d="M33,27.31a2.62,2.62,0,0,0-.94.48,8.68,8.68,0,0,1-9.62-.09A3.22,3.22,0,0,0,22,27.44,1.59,1.59,0,0,0,20.19,30c0.17,0.16.37,0.31,0.56,0.46A9.92,9.92,0,0,0,26,32.38l-0.33.35L21.36,37.1a1.61,1.61,0,0,0-.54,1.07,1.74,1.74,0,0,0,1,1.6,1.42,1.42,0,0,0,1.72-.31c1.14-1.12,2.28-2.26,3.39-3.41,0.28-.29.43-0.35,0.75,0,1.09,1.14,2.22,2.24,3.33,3.35a1.59,1.59,0,0,0,1,.53,1.74,1.74,0,0,0,1.63-1,1.46,1.46,0,0,0-.33-1.72c-1.47-1.48-2.94-3-4.41-4.43l-0.34-.37a13.16,13.16,0,0,0,3.18-.71,7.77,7.77,0,0,0,2.8-1.81,1.42,1.42,0,0,0,.1-1.88A1.47,1.47,0,0,0,33,27.31Z" transform="translate(-0.39 -0.25)"/></svg>
						</a>
					</li>
					<li class="social2__item">
						<a target="_blank"  href="https://www.facebook.com/LifeRace-495915677281364" class="social2__link">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53.82 53.82" class="social2__icon"><defs></defs><circle class="cls-1" cx="26.91" cy="26.91" r="26.41"/><path class="cls-2" d="M32.9 27.87v-4.8h-4.8v-1.91a1.17 1.17 0 0 1 .92-1.29h3.88v-4.8h-3.88c-3 0-5.4 2.9-5.4 6.13v1.87H20.1v4.8h3.53v10.88h4.48V27.87h4.8z"/></svg>
						</a>
					</li>
					<li class="social2__item">
						<a target="_blank"  href="#" class="social2__link">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.62 63.62" class="social2__icon"><circle cx="31.81" cy="31.81" r="30.81" class="cls-1"/><g id="Flat_copy" data-name="Flat copy"><path d="M35.85,15.24H25.91c-4.55,0-8.83,3.28-8.83,7.38a7.33,7.33,0,0,0,7.73,7.45c0.32,0,.63-0.08.94-0.1a4.14,4.14,0,0,0-.51,1.91,4.05,4.05,0,0,0,1.38,2.86H24.85c-5.63,0-10,3.69-10,7.51s4.75,6.12,10.39,6.12c6.42,0,10-3.75,10-7.51,0-3-.87-4.83-3.55-6.78C30.78,33.42,29,31.8,29,30.85c0-1.12.31-1.67,1.95-3a6.51,6.51,0,0,0,2.86-5.16c0-2.62-1.1-5.82-3.23-5.82h3.63Zm-3.34,25a5,5,0,0,1,.12,1.07c0,3-1.91,5.42-7.39,5.42-3.89,0-6.7-2.53-6.7-5.57s3.49-5.47,7.38-5.42a8.37,8.37,0,0,1,2.52.41C30.56,37.64,32.08,38.5,32.51,40.22ZM26.27,28.87c-2.61-.08-5.1-3-5.55-6.53s1.3-6.23,3.92-6.15,5.1,2.91,5.55,6.44S28.89,28.95,26.27,28.87Z" transform="translate(0 0)" class="cls-2"/><polygon points="43.91 28.48 43.91 23.52 40.68 23.52 40.68 28.48 35.85 28.48 35.85 31.8 40.68 31.8 40.68 36.77 43.91 36.77 43.91 31.8 48.74 31.8 48.74 28.48 43.91 28.48" class="cls-2"/></g></svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- end 	popup__social -->
	</div>
</div>
<!-- end 	popup -->