<!-- begin 	popup  -->
<div class="popup popup_large" id="questPopup">
	<div class="popup__header">
		анкета пользователя
		<a href="javascript:void(0)" class="close popup__close"></a>
	</div>
	<div class="popup__content">
	<form action="#" id="question">
		<!-- begin popup__block -->
		<div class="popup__block">
			<div class="popup__caption">Отметьте крестиком 3 жанра игр, которые Вам нравятся больше всего.</div>
			<div class="popup__table table">
				<div class="popup__cell table__cell">
					<div class="checkbox input_line">
						<input type="checkbox" name="fps" id="fps" class="checkbox__input">
						<label for="fps" class="checkbox__label">FPS/Шутеры</label>
					</div>
					<div class="checkbox input_line">
						<input type="checkbox" name="race" id="race" class="checkbox__input">
						<label for="race" class="checkbox__label">Гонки</label>
					</div>
					<div class="checkbox input_line">
						<input type="checkbox" name="strategy" id="strategy" class="checkbox__input">
						<label for="strategy" class="checkbox__label">Стратегии/MOBA/DotA</label>
					</div>
				</div>
				<div class="popup__cell table__cell">
					<div class="checkbox input_line">
						<input type="checkbox" name="RPG" id="RPG" class="checkbox__input">
						<label for="RPG" class="checkbox__label">RPG</label>
					</div>
					<div class="checkbox input_line">
						<input type="checkbox" name="action" id="action" class="checkbox__input">
						<label for="action" class="checkbox__label">Action/Экшн</label>
					</div>
					<div class="checkbox input_line">
						<input type="checkbox" name="sport" id="sport" class="checkbox__input">
						<label for="sport" class="checkbox__label">Спортивные игры</label>
					</div>
				</div>
			</div>
		</div>
		<!-- end popup__block -->
		<!-- begin popup__block -->
		<div class="popup__block">
			<div class="popup__caption">Отметьте гоночные проекты, в которые Вы играли за последние 5 лет.</div>
			<div class="popup__table table">
				<div class="popup__cell table__cell">
					<div class="checkbox input_line">
						<input type="checkbox" name="nfs" id="nfs" class="checkbox__input">
						<label for="nfs" class="checkbox__label">игры серии Need for Speed</label>
					</div>
					<div class="checkbox input_line">
						<input type="checkbox" name="DirtRally" id="DirtRally" class="checkbox__input">
						<label for="DirtRally" class="checkbox__label">игры серии Dirt Rally</label>
					</div>
					<div class="checkbox input_line">
						<input type="checkbox" name="grid" id="grid" class="checkbox__input">
						<label for="grid" class="checkbox__label">игры серии GRID</label>
					</div>
					<div class="checkbox input_line">
						<input type="checkbox" name="Forza" id="Forza" class="checkbox__input">
						<label for="Forza" class="checkbox__label">игры серии Forza</label>
					</div>
					<div class="checkbox input_line checkbox_other-line">
						<input type="checkbox" name="other" id="other" class="checkbox__input checkbox_other">
						<label for="other" class="checkbox__label">Другие</label>
						<input type="text" name="inputOther" id="inputOther" class="input checkbox__input-other" placeholder="Ваш вариант">
					</div>
				</div>
				<div class="popup__cell table__cell">
					<div class="checkbox input_line">
						<input type="checkbox" name="Crew" id="Crew" class="checkbox__input">
						<label for="Crew" class="checkbox__label">The Crew</label>
					</div>
					<div class="checkbox input_line">
						<input type="checkbox" name="WorldOfSpeed" id="WorldOfSpeed" class="checkbox__input">
						<label for="WorldOfSpeed" class="checkbox__label">World of Speed</label>
					</div>
					<div class="checkbox input_line">
						<input type="checkbox" name="RocketLeague" id="RocketLeague" class="checkbox__input">
						<label for="RocketLeague" class="checkbox__label">Rocket League</label>
					</div>
					<div class="checkbox input_line">
						<input type="checkbox" name="ProjectCARS" id="ProjectCARS" class="checkbox__input">
						<label for="ProjectCARS" class="checkbox__label">Project CARS</label>
					</div>
				</div>
			</div>
		</div>
		<!-- end popup__block -->
		<!-- begin popup__block -->
		<div class="popup__block" style="margin-bottom: 40px;">
			<div class="popup__table table">
				<div class="popup__cell table__cell">
					<div class="popup__caption">Как часто Вы играете<br>в компьютерные игры?</div>
					<div class="radio input_line">
						<input type="radio" name="frequency" value="everyDay" id="everyDay" class="radio__input">
						<label for="everyDay" class="radio__label">Каждый день</label>
					</div>
					<div class="radio input_line">
						<input type="radio" name="frequency" value="week" id="week" class="radio__input">
						<label for="week" class="radio__label">Два – три раза в неделю</label>
					</div>
					<div class="radio input_line">
						<input type="radio" name="frequency" value="month" id="month" class="radio__input">
						<label for="month" class="radio__label">Пару раз в месяц</label>
					</div>
				</div>
				<div class="popup__cell table__cell popup__cell_pd">
					<div class="popup__caption"><div>Укажите&nbsp;</div><div>Ваш возраст</div></div>
					<div class="radio input_line">
						<input type="radio" name="age" value="17" id="age17" class="radio__input">
						<label for="age17" class="radio__label">до 17 лет</label>
					</div>
					<div class="radio input_line">
						<input type="radio" name="age" value="18-25" id="age25" class="radio__input">
						<label for="age25" class="radio__label">18 - 25</label>
					</div>
					<div class="radio input_line">
						<input type="radio" name="age" value="26-35" id="age35" class="radio__input">
						<label for="age35" class="radio__label">26 - 35</label>
					</div>
					<div class="radio input_line">
						<input type="radio" name="age" value="36" id="age36" class="radio__input">
						<label for="age36" class="radio__label">от 36 лет</label>
					</div>
				</div>
			</div>
			<div id="error-question" class="text-center input_msg" style="font-size: 16px; display: none;margin-top: 15px;">
				Чтобы продолжить регистрацию, ответьте на все вопросы.
			</div>
		</div>
		<!-- end popup__block -->
		<div class="text-center">
			<button type="button" class="button button_red button_md" id="regTrigger">ДАЛЕЕ</button>
		</div>
	</form>
	</div>
</div>
<!-- end 	popup -->