<!-- begin 	popup  -->
<div class="popup" id="regSuccess">
	<div class="popup__header popup__header_upper">
		<a href="javascript:void(0)" class="close popup__close"></a>
	</div>
	<div class="popup__content">
		<div class="text-center popup__block">
			<img src="res/images/check.svg" alt="" class="popup__check">
			<div class="popup__subcaption">
				Для завершения регистрации пройдите по ссылке, <br>
				указанной в письме, отправленном на Ваш email.
			</div>
		</div>
		<!-- begin 	popup__block -->
		<div class="popup__block">
			<div class="text-center">
				<button class="button button_tr-grey button_md popup__close2">ЗАКРЫТЬ</button>
			</div>
		</div>
		<!-- end 	popup__block -->
	</div>
</div>
<!-- end 	popup -->